<div class="sign-up-container">
  <div class="sign-up-sign-up">
    <div class="sign-up-group60"></div>
    <div class="sign-up-div">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f4c757bd-e68e-4b2d-8ae8-546ae03028c5?org_if_sml=14491"
        alt="image382761"
        class="sign-up-image38"
      />
      <div class="sign-up-logo2">
        <div class="sign-up-clippathgroup">
          <div class="sign-up-a6025dffaf">
            <img
              src="/assets/playground_assets/vector1179-kytv.svg"
              alt="Vector1179"
              class="sign-up-vector"
            />
          </div>
          <div class="sign-up-group">
            <img
              src="/assets/playground_assets/vector1179-psbe.svg"
              alt="Vector1179"
              class="sign-up-vector01"
            />
          </div>
        </div>
        <div class="sign-up-clippathgroup1">
          <div class="sign-up-c2c9b04989">
            <img
              src="/assets/playground_assets/vector1179-jmd.svg"
              alt="Vector1179"
              class="sign-up-vector02"
            />
          </div>
          <div class="sign-up-group01">
            <div class="sign-up-clippathgroup2">
              <div class="sign-up-frame572541114f">
                <img
                  src="/assets/playground_assets/vector1179-ofd9.svg"
                  alt="Vector1179"
                  class="sign-up-vector03"
                />
              </div>
              <div class="sign-up-group02">
                <img
                  src="/assets/playground_assets/vector1179-cj0g.svg"
                  alt="Vector1179"
                  class="sign-up-vector04"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up-clippathgroup3">
          <div class="sign-up-frame012ccbaa80">
            <img
              src="/assets/playground_assets/vector1179-67km.svg"
              alt="Vector1179"
              class="sign-up-vector05"
            />
          </div>
          <div class="sign-up-group03">
            <div class="sign-up-clippathgroup4">
              <div class="sign-up-frame1361bfee97">
                <img
                  src="/assets/playground_assets/vector1179-v7c6.svg"
                  alt="Vector1179"
                  class="sign-up-vector06"
                />
              </div>
              <div class="sign-up-group04">
                <img
                  src="/assets/playground_assets/vector1179-d7t.svg"
                  alt="Vector1179"
                  class="sign-up-vector07"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up-group05">
          <div class="sign-up-group06">
            <div class="sign-up-group07">
              <img
                src="/assets/playground_assets/vector1179-l2bb.svg"
                alt="Vector1179"
                class="sign-up-vector08"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group08">
          <div class="sign-up-group09">
            <div class="sign-up-group10">
              <img
                src="/assets/playground_assets/vector1179-mjq.svg"
                alt="Vector1179"
                class="sign-up-vector09"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group11">
          <div class="sign-up-group12">
            <div class="sign-up-group13">
              <img
                src="/assets/playground_assets/vector1179-jmyi.svg"
                alt="Vector1179"
                class="sign-up-vector10"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group14">
          <div class="sign-up-group15">
            <div class="sign-up-group16">
              <img
                src="/assets/playground_assets/vector1179-imhj.svg"
                alt="Vector1179"
                class="sign-up-vector11"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group17">
          <div class="sign-up-group18">
            <div class="sign-up-group19">
              <img
                src="/assets/playground_assets/vector1179-82ra.svg"
                alt="Vector1179"
                class="sign-up-vector12"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group20">
          <div class="sign-up-group21">
            <div class="sign-up-group22">
              <img
                src="/assets/playground_assets/vector1179-17xc.svg"
                alt="Vector1179"
                class="sign-up-vector13"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group23">
          <div class="sign-up-group24">
            <div class="sign-up-group25">
              <img
                src="/assets/playground_assets/vector1179-1uvn.svg"
                alt="Vector1179"
                class="sign-up-vector14"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group26">
          <div class="sign-up-group27">
            <div class="sign-up-group28">
              <img
                src="/assets/playground_assets/vector1179-ovrc.svg"
                alt="Vector1179"
                class="sign-up-vector15"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group29">
          <div class="sign-up-group30">
            <div class="sign-up-group31">
              <img
                src="/assets/playground_assets/vector1179-f06r.svg"
                alt="Vector1179"
                class="sign-up-vector16"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group32">
          <div class="sign-up-group33">
            <div class="sign-up-group34">
              <img
                src="/assets/playground_assets/vector1179-r8mi.svg"
                alt="Vector1179"
                class="sign-up-vector17"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group35">
          <div class="sign-up-group36">
            <div class="sign-up-group37">
              <img
                src="/assets/playground_assets/vector1179-hob7.svg"
                alt="Vector1179"
                class="sign-up-vector18"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="sign-up-div01">
        <div class="sign-up-div02"><span class="sign-up-text">1</span></div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/96eebbd8-72cc-406e-9db1-544a344a0fc6?org_if_sml=1116"
          alt="div1178"
          class="sign-up-div03"
        />
        <div class="sign-up-div04"><span class="sign-up-text01">2</span></div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/560bcb83-2843-4b43-ac32-531ec8a1d2cd?org_if_sml=1116"
          alt="div1178"
          class="sign-up-div05"
        />
        <div class="sign-up-div06"><span class="sign-up-text02">3</span></div>
      </div>
      <div class="sign-up-div07">
        <span class="sign-up-text03">
          <span>¡Bienvenido/a! Vamos a crear tu perfil</span>
        </span>
      </div>
      <div class="sign-up-div08">
        <div class="sign-up-div09">
          <div class="sign-up-div10">
            <span class="sign-up-text05"><span>Email</span></span>
            <div class="sign-up-input">
              <div class="sign-up-divplaceholder">
                <input type="email" placeholder="ejemplo@gmail.com" />
              </div>
            </div>
          </div>
          <div class="sign-up-div11">
            <span class="sign-up-text09"><span>Nombre:</span></span>
            <div class="sign-up-input1">
              <div class="sign-up-divplaceholder1">
                <input type="text" placeholder="Duvan" />
              </div>
            </div>
          </div>
          <div class="sign-up-div12">
            <span class="sign-up-text13"><span>Apellidos:</span></span>
            <div class="sign-up-input2">
              <div class="sign-up-divplaceholder2">
                <input type="text" placeholder="Marin Camacho" />
              </div>
            </div>
          </div>
          <div class="sign-up-div13">
            <div class="sign-up-p">
              <span class="sign-up-text17">
                <span class="sign-up-text18">
                  Al completar mis datos acepto la
                  <span [innerHTML]="raw2ytm"></span>
                </span>
                <span class="sign-up-text19">Política de Privacidad.</span>
              </span>
            </div>
            <div class="sign-up-label">
              <input type="checkbox" id="checkbox" class="sign-up-checkbox" />
              <label for="checkbox"> </label>

              <div class="sign-up-span1">
                <span class="sign-up-text20">
                  <span class="sign-up-text21">
                    Acepto los
                    <span [innerHTML]="rawcz0w"></span>
                  </span>
                  <span class="sign-up-text22">Términos y Condiciones.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up-div14">
          <a href="/login" class="sign-up-buttonregisterpreviousbutton">
            <img
              src="/assets/playground_assets/svg1178-cl.svg"
              alt="svg1178"
              class="sign-up-svg"
            />
            <span class="sign-up-text23"><span>Volver</span></span>
          </a>
          <a href="/sign-up2" class="sign-up-buttonregisternextbutton">
            <span class="sign-up-text25">Siguiente paso</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
