<div class="home-container">
  <div class="home-home">
    <div class="home-group60">
      <img
        src="/assets/playground_assets/rectangle242197-yguc.svg"
        alt="Rectangle242197"
        class="home-rectangle24"
      />
      <div class="home-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/df5b5a9d-3047-46f5-ae3e-6d381ed3dcba?org_if_sml=1127"
          alt="RectangleCopyI379"
          class="home-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/37ca76da-24cc-4fa5-964d-1ee6e4770530?org_if_sml=1137"
          alt="RectangleCopy8I379"
          class="home-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/3f64d0bb-9f53-4643-92eb-a62458293f93?org_if_sml=1134"
          alt="RectangleCopy7I379"
          class="home-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/11c047d4-e21c-4491-a43f-108f1d9955df?org_if_sml=1128"
          alt="RectangleCopy2I379"
          class="home-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/632664af-c1e2-408c-a58b-c7d4fdbd5b86?org_if_sml=1126"
          alt="RectangleCopy10I379"
          class="home-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e9efe6a0-e019-4a58-b836-32c8b86b8fb2?org_if_sml=1142"
          alt="RectangleCopy9I379"
          class="home-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/37937bd2-8290-412d-afd9-c29539b74982?org_if_sml=1153"
          alt="RectangleCopy6I379"
          class="home-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/80352434-9707-42d7-9207-de65c3c28baf?org_if_sml=1154"
          alt="RectangleCopy5I379"
          class="home-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f25b7098-b827-4969-8b99-67cc0e103109?org_if_sml=1146"
          alt="RectangleCopy3I379"
          class="home-rectangle-copy3"
        />
      </div>
      <div class="home-group601">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/a19d723c-6026-444d-9f9c-ab33a83639ec?org_if_sml=136249"
          alt="unsplashio0ZLYbu31s1135"
          class="home-unsplashio0z-ybu31s"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1e1b7f9f-adbf-4470-8955-224998713c0b?org_if_sml=1534"
          alt="unsplashv2aKnjMbPk1135"
          class="home-unsplashv2a-knj-mb-pk"
        />
        <img
          src="/assets/playground_assets/vector1135-18p2.svg"
          alt="Vector1135"
          class="home-vector"
        />
        <span class="home-text">
          <span
            ><a href="/course-content">Curso completo de JAVA (Principiante)</a>
          </span>
        </span>
        <div class="home-group3">
          <span class="home-text002"><span>700 Students</span></span>
          <div class="home-group">
            <img
              src="/assets/playground_assets/vector1135-7jj7.svg"
              alt="Vector1135"
              class="home-vector01"
            />
            <img
              src="/assets/playground_assets/vector1135-nonx.svg"
              alt="Vector1135"
              class="home-vector02"
            />
            <img
              src="/assets/playground_assets/vector1135-7gfd.svg"
              alt="Vector1135"
              class="home-vector03"
            />
          </div>
        </div>
        <div class="home-group5">
          <div class="home-group4">
            <span class="home-text004"><span>2h 20m</span></span>
          </div>
          <div class="home-group01">
            <img
              src="/assets/playground_assets/vector1135-d71.svg"
              alt="Vector1135"
              class="home-vector04"
            />
            <img
              src="/assets/playground_assets/vector1135-m0g.svg"
              alt="Vector1135"
              class="home-vector05"
            />
          </div>
        </div>
        <span class="home-text006"><span>John Doe</span></span>
      </div>
      <div class="home-group28">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/56cb0a61-5a00-4f65-885a-de7800922fe7?org_if_sml=118554"
          alt="unsplashwUbNvDTsOIc230"
          class="home-unsplashw-ub-nv--ts--ic"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1137e19f-9786-4c77-93ee-80bf2122fdeb?org_if_sml=1583"
          alt="unsplashWNoLnJo7tS8241"
          class="home-unsplash--no-ln-jo7t-s8"
        />
        <img
          src="/assets/playground_assets/vector249-rm25.svg"
          alt="Vector249"
          class="home-vector06"
        />
        <span class="home-text008">
          <span>
            <span>Mastering HTML/CSS</span>
            <br />
            <span>con Bootstrap</span>
          </span>
        </span>
        <div class="home-group6">
          <span class="home-text013"><span>700 Students</span></span>
          <div class="home-group02">
            <img
              src="/assets/playground_assets/vector281-h22w.svg"
              alt="Vector281"
              class="home-vector07"
            />
            <img
              src="/assets/playground_assets/vector282-9vub.svg"
              alt="Vector282"
              class="home-vector08"
            />
            <img
              src="/assets/playground_assets/vector283-h91t.svg"
              alt="Vector283"
              class="home-vector09"
            />
          </div>
        </div>
        <div class="home-group7">
          <div>
            <span class="home-text015"><span>2h 20m</span></span>
          </div>
          <div class="home-group03">
            <img
              src="/assets/playground_assets/vector288-h26k.svg"
              alt="Vector288"
              class="home-vector10"
            />
            <img
              src="/assets/playground_assets/vector289-0r0j.svg"
              alt="Vector289"
              class="home-vector11"
            />
          </div>
        </div>
        <span class="home-text017"><span>Alexander</span></span>
      </div>
      <div class="home-group27">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/424a1c6c-5105-4178-af9d-4ab69b2a8bf5?org_if_sml=113852"
          alt="unsplashbKtF08f5CY231"
          class="home-unsplashb-kt-f08f5cy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8bebe425-a505-45c0-bd82-7cff13971baf?org_if_sml=1519"
          alt="unsplashRBerxXPnZPE242"
          class="home-unsplash--berx--pn-zpe"
        />
        <img
          src="/assets/playground_assets/vector250-2f3k.svg"
          alt="Vector250"
          class="home-vector12"
        />
        <span class="home-text019">
          <span>Adobe Photoshop Básico a Avanzado</span>
        </span>
        <div class="home-group8">
          <span class="home-text021"><span>700 Students</span></span>
          <div class="home-group04">
            <img
              src="/assets/playground_assets/vector293-vk2w.svg"
              alt="Vector293"
              class="home-vector13"
            />
            <img
              src="/assets/playground_assets/vector294-52uh.svg"
              alt="Vector294"
              class="home-vector14"
            />
            <img
              src="/assets/playground_assets/vector295-in2.svg"
              alt="Vector295"
              class="home-vector15"
            />
          </div>
        </div>
        <div class="home-group9">
          <div>
            <span class="home-text023"><span>2h 20m</span></span>
          </div>
          <div class="home-group05">
            <img
              src="/assets/playground_assets/vector2100-rsim.svg"
              alt="Vector2100"
              class="home-vector16"
            />
            <img
              src="/assets/playground_assets/vector2101-tqg.svg"
              alt="Vector2101"
              class="home-vector17"
            />
          </div>
        </div>
        <span class="home-text025"><span>Danaya</span></span>
      </div>
      <div class="home-group81">
        <div class="home-group2">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c1ca3cfd-18a5-4b3f-a36a-7c1f71df35b5?org_if_sml=11006"
            alt="unsplash3JmfENcL24M219"
            class="home-unsplash-jmf--nc-l24m"
          />
        </div>
        <div class="home-group16">
          <span class="home-text051"><span>Welcome,</span></span>
          <span class="home-text053"><span>Duvan Marin</span></span>
        </div>
      </div>
      <div class="home-group30">
        <a href="#" class="home-group30-link">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/51021a91-737e-4b4f-a656-f51cdc2b46b5?org_if_sml=1569"
            alt="Ellipse12147"
            class="home-ellipse1"
          />
          <span class="home-text055"
            ><a href="/home" class="home-group30-text-link">Wishlist</a></span
          >
          <div class="home-group17">
            <img
              src="/assets/playground_assets/vector2156-fg3b.svg"
              alt="Vector2156"
              class="home-vector36"
            />
            <img
              src="/assets/playground_assets/vector2157-l6f.svg"
              alt="Vector2157"
              class="home-vector37"
            />
          </div>
        </a>
      </div>
      <div class="home-group31">
        <a href="#" class="home-group31-link">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c328417a-7755-4d1c-acbe-e654c05365d4?org_if_sml=1605"
            alt="Ellipse22148"
            class="home-ellipse2"
          />
          <span class="home-text057"
            ><a href="/my-courses" class="home-group31-text-link"
              >Mis cursos</a
            ></span
          >
          <div class="home-group18">
            <img
              src="/assets/playground_assets/vector2160-0gr.svg"
              alt="Vector2160"
              class="home-vector38"
            />
            <img
              src="/assets/playground_assets/vector2161-h5jn.svg"
              alt="Vector2161"
              class="home-vector39"
            />
          </div>
        </a>
      </div>

      <div class="home-group21">
        <img
          src="/assets/playground_assets/vector2169-mhno.svg"
          alt="Vector2169"
          class="home-vector46"
        />
        <img
          src="/assets/playground_assets/vector2170-qouj.svg"
          alt="Vector2170"
          class="home-vector47"
        />
      </div>
      <span class="home-text065"><span>Buscar</span></span>
      <div class="home-group23">
        <img
          src="/assets/playground_assets/vector2179-6ui.svg"
          alt="Vector2179"
          class="home-vector48"
        />
        <img
          src="/assets/playground_assets/vector2180-oizl.svg"
          alt="Vector2180"
          class="home-vector49"
        />
      </div>
      <div class="home-group48">
        <div class="home-group22">
          <img
            src="/assets/playground_assets/vector2175-ajx.svg"
            alt="Vector2175"
            class="home-vector50"
          />
          <img
            src="/assets/playground_assets/vector2176-wilm.svg"
            alt="Vector2176"
            class="home-vector51"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8966115d-2dc3-450a-b952-8e7b154cafa2?org_if_sml=1147"
          alt="Ellipse52182"
          class="home-ellipse5"
        />
      </div>
      <span class="home-text067"
        ><span><a href="/home">Mis cursos</a></span></span
      >
      <img
        src="/assets/playground_assets/vector2194-8a9k.svg"
        alt="Vector2194"
        class="home-vector52"
      />
      <div class="home-group59">
        <img
          src="/assets/playground_assets/vector489-4n1.svg"
          alt="Vector489"
          class="home-vector53"
        />
        <span class="home-text069"><span>Courses</span></span>
      </div>
      <div class="home-group40">
        <div class="home-group38"></div>
        <div class="home-group39">
          <span class="home-text072"><span>Cargar más</span></span>
          <img
            src="/assets/playground_assets/vector310-t1y.svg"
            alt="Vector310"
            class="home-vector55"
          />
        </div>
      </div>
      <img
        src="/assets/playground_assets/vector330-20al.svg"
        alt="Vector330"
        class="home-vector56"
      />
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8ec69621-c51c-4699-8c26-269f2c87e8ed?org_if_sml=1637"
      alt="Rectangle25339"
      class="home-rectangle25"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/3a3324ca-699d-49db-8690-80b928e304fa?org_if_sml=1637"
      alt="Rectangle271131"
      class="home-rectangle27"
    />

    <div class="home-group51">
      <div class="home-group49">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/59e95cdd-77d6-4e5d-99b5-380d1dea50ec?org_if_sml=1785"
          alt="unsplash3JmfENcL24M334"
          class="home-unsplash-jmf--nc-l24m1"
        />
      </div>
      <div class="home-group50">
        <span class="home-text096"><span>duvanmarin@live.com</span></span>
        <span class="home-text098"><span>Duvan Marin</span></span>
      </div>
    </div>
    <img
      src="/assets/playground_assets/vector341-k5f.svg"
      alt="Vector341"
      class="home-vector57"
    />
    <div class="home-group56">
      <span class="home-text100"
        ><span><a href="/home">Home</a></span></span
      >
      <img
        src="/assets/playground_assets/vector343-h3r.svg"
        alt="Vector343"
        class="home-vector58"
      />
    </div>
    <div class="home-group54">
      <span class="home-text102"
        ><span><a href="/profile">Profile</a></span></span
      >
      <img
        src="/assets/playground_assets/vector345-gph5a.svg"
        alt="Vector345"
        class="home-vector59"
      />
    </div>
    <div class="home-group53">
      <span class="home-text104"
        ><span><a href="/settings">Settings</a></span></span
      >
      <img
        src="/assets/playground_assets/vector347-3i4a.svg"
        alt="Vector347"
        class="home-vector60"
      />
    </div>
    <div class="home-group52">
      <span class="home-text106"
        ><span><a href="/more">Mas</a></span></span
      >
      <img
        src="/assets/playground_assets/vector349-s1xz.svg"
        alt="Vector349"
        class="home-vector61"
      />
    </div>
    <div class="home-group58">
      <div class="home-group57">
        <span class="home-text108"
          ><span><a href="/login">Salir</a></span></span
        >
      </div>
      <img
        src="/assets/playground_assets/vector365-0v9.svg"
        alt="Vector365"
        class="home-vector62"
      />
    </div>
  </div>
</div>
