<div class="payment-methods-container">
  <div class="payment-methods-metodosdepago">
    <div class="payment-methods-group60">
      <img
        src="/assets/playground_assets/rectangle241421-nvn.svg"
        alt="Rectangle241421"
        class="payment-methods-rectangle24"
      />
      <div class="payment-methods-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/509f9a3d-f2a6-4923-a472-a58afc44fc4e?org_if_sml=1127"
          alt="RectangleCopyI142"
          class="payment-methods-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/57778975-574e-43a4-a500-80a90dd04afa?org_if_sml=1137"
          alt="RectangleCopy8I142"
          class="payment-methods-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7995f32c-0243-4e3d-920e-b8b2e9fb670c?org_if_sml=1134"
          alt="RectangleCopy7I142"
          class="payment-methods-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/85b7dbc5-c7cf-4e3c-889f-a63258e01ac4?org_if_sml=1128"
          alt="RectangleCopy2I142"
          class="payment-methods-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/530a4bb0-90d0-45ad-9561-b3fd1e4e439f?org_if_sml=1126"
          alt="RectangleCopy10I142"
          class="payment-methods-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/2bfb2036-31ac-4a73-a05f-8e8a85b13bd9?org_if_sml=1142"
          alt="RectangleCopy9I142"
          class="payment-methods-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6954a133-59f8-4c29-a08b-e457678db71a?org_if_sml=1153"
          alt="RectangleCopy6I142"
          class="payment-methods-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/ffac654e-cdc5-4981-8121-bbe139984c25?org_if_sml=1154"
          alt="RectangleCopy5I142"
          class="payment-methods-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/cd0c0195-09be-4ccf-97f7-05e7844a9a44?org_if_sml=1146"
          alt="RectangleCopy3I142"
          class="payment-methods-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/56bbe427-4ed3-4801-bd1a-95062c3908c8?org_if_sml=194"
        alt="Rectangle11421"
        class="payment-methods-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/285f37c5-e3b0-4556-8b91-9303cf3ffd8e?org_if_sml=194"
        alt="Rectangle131421"
        class="payment-methods-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1421-rv6m.svg"
          alt="Vector1421"
          class="payment-methods-vector"
        />
        <img
          src="/assets/playground_assets/vector1421-3a5.svg"
          alt="Vector1421"
          class="payment-methods-vector01"
        />
      </div>
      <span class="payment-methods-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1421-hou7.svg"
          alt="Vector1421"
          class="payment-methods-vector02"
        />
        <img
          src="/assets/playground_assets/vector1421-4gvh.svg"
          alt="Vector1421"
          class="payment-methods-vector03"
        />
      </div>
      <div class="payment-methods-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1421-bk4q.svg"
            alt="Vector1421"
            class="payment-methods-vector04"
          />
          <img
            src="/assets/playground_assets/vector1421-90v.svg"
            alt="Vector1421"
            class="payment-methods-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f2268318-1fc5-4387-94b4-80ee0c92808a?org_if_sml=1147"
          alt="Ellipse51421"
          class="payment-methods-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/05289e5f-a64e-4f92-b930-45a07fc654b8?org_if_sml=1524"
        alt="Rectangle251421"
        class="payment-methods-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271421-bhqhk.svg"
        alt="Rectangle271421"
        class="payment-methods-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1eefd697-0e65-41a9-bda2-f61af50aaf54?org_if_sml=1502"
        alt="Rectangle261421"
        class="payment-methods-rectangle26"
      />
      <div class="payment-methods-group51">
        <div class="payment-methods-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e02ad768-ba6e-47ce-9494-d02b9d198a2d?org_if_sml=14240"
            alt="unsplash3JmfENcL24M1421"
            class="payment-methods-unsplash-jmf--nc-l24m"
          />
          <div class="payment-methods-group491">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/356aa360-05eb-4a52-bfc8-a1393e52b9b5?org_if_sml=1785"
              alt="unsplash3JmfENcL24M3061"
              class="payment-methods-unsplash-jmf--nc-l24m1"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group56">
        <img
          src="/assets/playground_assets/vector1421-nbcb.svg"
          alt="Vector1421"
          class="payment-methods-vector06"
        />
      </div>
      <div class="payment-methods-group54">
        <img
          src="/assets/playground_assets/vector1421-rtn.svg"
          alt="Vector1421"
          class="payment-methods-vector07"
        />
      </div>
      <div class="payment-methods-group53">
        <img
          src="/assets/playground_assets/vector1421-jaff.svg"
          alt="Vector1421"
          class="payment-methods-vector08"
        />
      </div>
      <div class="payment-methods-group52">
        <img
          src="/assets/playground_assets/vector1421-6ufn.svg"
          alt="Vector1421"
          class="payment-methods-vector09"
        />
      </div>
      <div class="payment-methods-group58">
        <img
          src="/assets/playground_assets/vector1421-3it.svg"
          alt="Vector1421"
          class="payment-methods-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1421-ajar.svg"
        alt="Vector1421"
        class="payment-methods-vector11"
      />
    </div>
    <div class="payment-methods-logo3">
      <div class="payment-methods-clippathgroup">
        <div class="payment-methods-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1421-ik4b.svg"
            alt="Vector1421"
            class="payment-methods-vector12"
          />
        </div>
        <div class="payment-methods-group">
          <img
            src="/assets/playground_assets/vector1421-newb.svg"
            alt="Vector1421"
            class="payment-methods-vector13"
          />
        </div>
      </div>
      <div class="payment-methods-clippathgroup1">
        <div class="payment-methods-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1421-0reb.svg"
            alt="Vector1421"
            class="payment-methods-vector14"
          />
        </div>
        <div class="payment-methods-group01">
          <div class="payment-methods-clippathgroup2">
            <div class="payment-methods-frame572541114f">
              <img
                src="/assets/playground_assets/vector1421-nz1g.svg"
                alt="Vector1421"
                class="payment-methods-vector15"
              />
            </div>
            <div class="payment-methods-group02">
              <img
                src="/assets/playground_assets/vector1421-yvc.svg"
                alt="Vector1421"
                class="payment-methods-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="payment-methods-clippathgroup3">
        <div class="payment-methods-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1421-laj7.svg"
            alt="Vector1421"
            class="payment-methods-vector17"
          />
        </div>
        <div class="payment-methods-group03">
          <div class="payment-methods-clippathgroup4">
            <div class="payment-methods-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1421-e8po.svg"
                alt="Vector1421"
                class="payment-methods-vector18"
              />
            </div>
            <div class="payment-methods-group04">
              <img
                src="/assets/playground_assets/vector1421-kcaa.svg"
                alt="Vector1421"
                class="payment-methods-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="payment-methods-group05">
        <div class="payment-methods-group06">
          <div class="payment-methods-group07">
            <img
              src="/assets/playground_assets/vector1421-q2mlr.svg"
              alt="Vector1421"
              class="payment-methods-vector20"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group08">
        <div class="payment-methods-group09">
          <div class="payment-methods-group10">
            <img
              src="/assets/playground_assets/vector1421-urul.svg"
              alt="Vector1421"
              class="payment-methods-vector21"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group11">
        <div class="payment-methods-group12">
          <div class="payment-methods-group13">
            <img
              src="/assets/playground_assets/vector1421-qauc.svg"
              alt="Vector1421"
              class="payment-methods-vector22"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group14">
        <div class="payment-methods-group15">
          <div>
            <img
              src="/assets/playground_assets/vector1421-f6yq.svg"
              alt="Vector1421"
              class="payment-methods-vector23"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group17">
        <div class="payment-methods-group18">
          <div class="payment-methods-group19">
            <img
              src="/assets/playground_assets/vector1421-qw8m.svg"
              alt="Vector1421"
              class="payment-methods-vector24"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group20">
        <div class="payment-methods-group21">
          <div class="payment-methods-group22">
            <img
              src="/assets/playground_assets/vector1421-bwxq.svg"
              alt="Vector1421"
              class="payment-methods-vector25"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group23">
        <div class="payment-methods-group24">
          <div class="payment-methods-group25">
            <img
              src="/assets/playground_assets/vector1421-u49r.svg"
              alt="Vector1421"
              class="payment-methods-vector26"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group26">
        <div class="payment-methods-group27">
          <div class="payment-methods-group28">
            <img
              src="/assets/playground_assets/vector1421-0oyt.svg"
              alt="Vector1421"
              class="payment-methods-vector27"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group29">
        <div class="payment-methods-group30">
          <div class="payment-methods-group31">
            <img
              src="/assets/playground_assets/vector1421-uia.svg"
              alt="Vector1421"
              class="payment-methods-vector28"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group32">
        <div class="payment-methods-group33">
          <div class="payment-methods-group34">
            <img
              src="/assets/playground_assets/vector1421-yp7i.svg"
              alt="Vector1421"
              class="payment-methods-vector29"
            />
          </div>
        </div>
      </div>
      <div class="payment-methods-group35">
        <div class="payment-methods-group36">
          <div class="payment-methods-group37">
            <img
              src="/assets/playground_assets/vector1421-scyl.svg"
              alt="Vector1421"
              class="payment-methods-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="payment-methods-group82">
      <div class="payment-methods-group2">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/ec93e387-b55d-4967-81c0-985a1402e594?org_if_sml=16632"
          alt="unsplash3JmfENcL24M1421"
          class="payment-methods-unsplash-jmf--nc-l24m2"
        />
      </div>
      <div class="payment-methods-group16">
        <span class="payment-methods-text02"><span>Welcome,</span></span>
        <span class="payment-methods-text04"><span>Duvan Marin</span></span>
      </div>
    </div>
    <span class="payment-methods-text06"><span>Métodos de pago</span></span>
    <span class="payment-methods-text08">
      <span>
        Estos son los métodos de pago que pueden utilizar para el pago de los
        cursos
      </span>
    </span>
    <img
      src="/assets/playground_assets/rectangle311154-bol7.svg"
      alt="Rectangle311154"
      class="payment-methods-rectangle31"
    />
    <span class="payment-methods-text10"><span>Opciones de pago</span></span>
    <img
      src="/assets/playground_assets/rectangle281154-ia2a.svg"
      alt="Rectangle281154"
      class="payment-methods-rectangle28"
    />
    <img
      src="/assets/playground_assets/rectangle291154-vmaq.svg"
      alt="Rectangle291154"
      class="payment-methods-rectangle29"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/9b45aede-3dea-444f-97c8-43040fecb1d1?org_if_sml=140181"
      alt="IMAGE111154"
      class="payment-methods-image11"
    />
    <span class="payment-methods-text12"><span>PSE</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/0214459e-eb60-47ba-882b-d267d0c4532e?org_if_sml=18466"
      alt="IMAGE211155"
      class="payment-methods-image21"
    />
    <span class="payment-methods-text14">
      <span>Tarjeta de crédito -debito</span>
    </span>
    <div class="payment-methods-group84">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/97263a20-6402-4476-b478-6c375ff300d3?org_if_sml=11006"
        alt="unsplash3JmfENcL24M1611"
        class="payment-methods-unsplash-jmf--nc-l24m3"
      />
    </div>
    <div class="payment-methods-group85">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/cbd39559-2a77-4008-9fff-0c9a0b8ef0ef?org_if_sml=11006"
        alt="unsplash3JmfENcL24M1611"
        class="payment-methods-unsplash-jmf--nc-l24m4"
      />
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/18c9d90a-b39a-476b-bb57-52b7fa3f4e5b?org_if_sml=16096"
      alt="image382761"
      class="payment-methods-image38"
    />
  </div>
</div>
