<div class="settings-container">
  <div class="settings-ajustes">
    <div class="settings-group60">
      <img
        src="/assets/playground_assets/rectangle241426-mei.svg"
        alt="Rectangle241426"
        class="settings-rectangle24"
      />
      <div class="settings-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/dcee0fcc-3fce-453f-87d2-37a27b0b40f5?org_if_sml=1127"
          alt="RectangleCopyI142"
          class="settings-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/54fed983-420a-479d-85aa-f4a6bc40214b?org_if_sml=1137"
          alt="RectangleCopy8I142"
          class="settings-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c7f38efd-bdb6-4fca-82ac-c1696501c293?org_if_sml=1134"
          alt="RectangleCopy7I142"
          class="settings-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/dc6c74b1-22e0-403e-8155-2e96b50392b0?org_if_sml=1128"
          alt="RectangleCopy2I142"
          class="settings-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7da38916-a204-43e8-9c32-5e70a1ad0b33?org_if_sml=1126"
          alt="RectangleCopy10I142"
          class="settings-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/fed38ab4-5f8f-404a-aac8-63d69f82f6c4?org_if_sml=1142"
          alt="RectangleCopy9I142"
          class="settings-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/5671cd5f-a771-43c2-b3e0-d1e9e5d7e4de?org_if_sml=1153"
          alt="RectangleCopy6I142"
          class="settings-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/cbd3257d-cabc-4c05-8b1d-d0c2a2a11a69?org_if_sml=1154"
          alt="RectangleCopy5I142"
          class="settings-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/0dfab1dc-9d85-4917-a205-f210271fc7bb?org_if_sml=1146"
          alt="RectangleCopy3I142"
          class="settings-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1a9d97da-a092-4f54-9552-d533f3a4fb6f?org_if_sml=194"
        alt="Rectangle11426"
        class="settings-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f4f7331d-1362-419d-b864-a3743a9d969f?org_if_sml=194"
        alt="Rectangle131426"
        class="settings-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1426-r7h.svg"
          alt="Vector1426"
          class="settings-vector"
        />
        <img
          src="/assets/playground_assets/vector1426-c5x.svg"
          alt="Vector1426"
          class="settings-vector01"
        />
      </div>
      <span class="settings-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1426-abhk.svg"
          alt="Vector1426"
          class="settings-vector02"
        />
        <img
          src="/assets/playground_assets/vector1426-7y8.svg"
          alt="Vector1426"
          class="settings-vector03"
        />
      </div>
      <div class="settings-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1426-qn8k.svg"
            alt="Vector1426"
            class="settings-vector04"
          />
          <img
            src="/assets/playground_assets/vector1426-iwg.svg"
            alt="Vector1426"
            class="settings-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7f74005d-d5f3-447d-ab25-af716bb740d5?org_if_sml=1147"
          alt="Ellipse51426"
          class="settings-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1f22c2f9-810d-472f-b8ff-b210c614e2b2?org_if_sml=1524"
        alt="Rectangle251426"
        class="settings-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271426-21i5.svg"
        alt="Rectangle271426"
        class="settings-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/33a250ea-131c-4532-8be1-522209e05305?org_if_sml=1502"
        alt="Rectangle261426"
        class="settings-rectangle26"
      />
      <div class="settings-group51">
        <div class="settings-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/b2c0227b-788c-421b-998c-5850bbbbd067?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1426"
            class="settings-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="settings-group56">
        <img
          src="/assets/playground_assets/vector1426-jz.svg"
          alt="Vector1426"
          class="settings-vector06"
        />
      </div>
      <div class="settings-group54">
        <img
          src="/assets/playground_assets/vector1426-dxio.svg"
          alt="Vector1426"
          class="settings-vector07"
        />
      </div>
      <div class="settings-group53">
        <img
          src="/assets/playground_assets/vector1426-o2sl.svg"
          alt="Vector1426"
          class="settings-vector08"
        />
      </div>
      <div class="settings-group52">
        <img
          src="/assets/playground_assets/vector1426-4r5.svg"
          alt="Vector1426"
          class="settings-vector09"
        />
      </div>
      <div class="settings-group58">
        <img
          src="/assets/playground_assets/vector1426-fb6g.svg"
          alt="Vector1426"
          class="settings-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1426-yqbx.svg"
        alt="Vector1426"
        class="settings-vector11"
      />
    </div>
    <div class="settings-logo3">
      <div class="settings-clippathgroup">
        <div class="settings-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1426-dege.svg"
            alt="Vector1426"
            class="settings-vector12"
          />
        </div>
        <div class="settings-group">
          <img
            src="/assets/playground_assets/vector1426-5uy.svg"
            alt="Vector1426"
            class="settings-vector13"
          />
        </div>
      </div>
      <div class="settings-clippathgroup1">
        <div class="settings-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1426-nzof.svg"
            alt="Vector1426"
            class="settings-vector14"
          />
        </div>
        <div class="settings-group01">
          <div class="settings-clippathgroup2">
            <div class="settings-frame572541114f">
              <img
                src="/assets/playground_assets/vector1426-rf4.svg"
                alt="Vector1426"
                class="settings-vector15"
              />
            </div>
            <div class="settings-group02">
              <img
                src="/assets/playground_assets/vector1426-zjn.svg"
                alt="Vector1426"
                class="settings-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="settings-clippathgroup3">
        <div class="settings-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1427-ocf.svg"
            alt="Vector1427"
            class="settings-vector17"
          />
        </div>
        <div class="settings-group03">
          <div class="settings-clippathgroup4">
            <div class="settings-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1427-d05p.svg"
                alt="Vector1427"
                class="settings-vector18"
              />
            </div>
            <div class="settings-group04">
              <img
                src="/assets/playground_assets/vector1427-rh1p.svg"
                alt="Vector1427"
                class="settings-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="settings-group05">
        <div class="settings-group06">
          <div class="settings-group07">
            <img
              src="/assets/playground_assets/vector1427-fit6.svg"
              alt="Vector1427"
              class="settings-vector20"
            />
          </div>
        </div>
      </div>
      <div class="settings-group08">
        <div class="settings-group09">
          <div class="settings-group10">
            <img
              src="/assets/playground_assets/vector1427-h3se.svg"
              alt="Vector1427"
              class="settings-vector21"
            />
          </div>
        </div>
      </div>
      <div class="settings-group11">
        <div class="settings-group12">
          <div class="settings-group13">
            <img
              src="/assets/playground_assets/vector1427-k3r.svg"
              alt="Vector1427"
              class="settings-vector22"
            />
          </div>
        </div>
      </div>
      <div class="settings-group14">
        <div class="settings-group15">
          <div>
            <img
              src="/assets/playground_assets/vector1427-8daq.svg"
              alt="Vector1427"
              class="settings-vector23"
            />
          </div>
        </div>
      </div>
      <div class="settings-group17">
        <div class="settings-group18">
          <div class="settings-group19">
            <img
              src="/assets/playground_assets/vector1427-aylh.svg"
              alt="Vector1427"
              class="settings-vector24"
            />
          </div>
        </div>
      </div>
      <div class="settings-group20">
        <div class="settings-group21">
          <div class="settings-group22">
            <img
              src="/assets/playground_assets/vector1427-5e0i.svg"
              alt="Vector1427"
              class="settings-vector25"
            />
          </div>
        </div>
      </div>
      <div class="settings-group23">
        <div class="settings-group24">
          <div class="settings-group25">
            <img
              src="/assets/playground_assets/vector1427-ou7q.svg"
              alt="Vector1427"
              class="settings-vector26"
            />
          </div>
        </div>
      </div>
      <div class="settings-group26">
        <div class="settings-group27">
          <div class="settings-group28">
            <img
              src="/assets/playground_assets/vector1427-jwc7.svg"
              alt="Vector1427"
              class="settings-vector27"
            />
          </div>
        </div>
      </div>
      <div class="settings-group29">
        <div class="settings-group30">
          <div class="settings-group31">
            <img
              src="/assets/playground_assets/vector1427-ggud.svg"
              alt="Vector1427"
              class="settings-vector28"
            />
          </div>
        </div>
      </div>
      <div class="settings-group32">
        <div class="settings-group33">
          <div class="settings-group34">
            <img
              src="/assets/playground_assets/vector1427-etg4.svg"
              alt="Vector1427"
              class="settings-vector29"
            />
          </div>
        </div>
      </div>
      <div class="settings-group35">
        <div class="settings-group36">
          <div class="settings-group37">
            <img
              src="/assets/playground_assets/vector1427-b2b.svg"
              alt="Vector1427"
              class="settings-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="settings-group82">
      <div class="settings-group2">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/47fc3884-b0f0-421b-9bce-4e2b8f4f9ec8?org_if_sml=11006"
          alt="unsplash3JmfENcL24M1427"
          class="settings-unsplash-jmf--nc-l24m1"
        />
      </div>
      <div class="settings-group16">
        <span class="settings-text02"><span>Welcome,</span></span>
        <span class="settings-text04"><span>Duvan Marin</span></span>
      </div>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/14cd2e8a-0b36-4557-9b9b-f900b6de470e?org_if_sml=194"
      alt="Rectangle81427"
      class="settings-rectangle8"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/bb793b9b-157f-4051-ac4b-0a4ca08ad4d6?org_if_sml=113813"
      alt="images11138"
      class="settings-images1"
    />
    <span class="settings-text06"><span>Seguridad</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/494ed3bf-d822-4baa-8fcd-b9d10674ce48?org_if_sml=194"
      alt="Rectangle291427"
      class="settings-rectangle29"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7ea67009-778e-4d69-b346-699dbf9a1633?org_if_sml=17991"
      alt="descarga321427"
      class="settings-descarga32"
    />
    <span class="settings-text08"><span>Método de pago</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/4fcbb2c5-753c-49a6-bb4c-5f94f2f01700?org_if_sml=194"
      alt="Rectangle291427"
      class="settings-rectangle291"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/ab5a9bf6-95cb-49b0-8828-c8e585490552?org_if_sml=114299"
      alt="descarga121427"
      class="settings-descarga12"
    />
    <span class="settings-text10"><span>Privacidad</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/d5ff7ed0-dd74-4f1a-8aca-1deb9649ef8e?org_if_sml=16096"
      alt="image382761"
      class="settings-image38"
    />
  </div>
</div>
