<div class="more-container">
  <div class="more-mas">
    <div class="more-group60">
      <img
        src="/assets/playground_assets/rectangle241421-pzh.svg"
        alt="Rectangle241421"
        class="more-rectangle24"
      />
      <div class="more-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/783e6f58-9636-439f-9f46-692e1abde24f?org_if_sml=1127"
          alt="RectangleCopyI142"
          class="more-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/afb4c4f6-58b1-4fc3-b545-42ac5ba6e4ad?org_if_sml=1137"
          alt="RectangleCopy8I142"
          class="more-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/66c190b6-a985-4623-9a1d-6d2161e93406?org_if_sml=1134"
          alt="RectangleCopy7I142"
          class="more-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/78383cc9-ccf7-45d6-8e71-a6af1dacb8eb?org_if_sml=1128"
          alt="RectangleCopy2I142"
          class="more-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/19c29f6d-20b5-4dd8-b36e-93f6447ce64b?org_if_sml=1126"
          alt="RectangleCopy10I142"
          class="more-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7b6da789-6728-40b8-840a-64f75e3c9811?org_if_sml=1142"
          alt="RectangleCopy9I142"
          class="more-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/985bd2b7-7f46-44f2-9a70-a832eabc9896?org_if_sml=1153"
          alt="RectangleCopy6I142"
          class="more-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/905d7772-08fd-4b5f-81b3-288915712510?org_if_sml=1154"
          alt="RectangleCopy5I142"
          class="more-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6085121d-5b3a-4a2e-b7c5-4f8b479a4274?org_if_sml=1146"
          alt="RectangleCopy3I142"
          class="more-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/cd921bfe-47b6-4093-97fb-350f3e76b115?org_if_sml=194"
        alt="Rectangle11421"
        class="more-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c39b7bd0-da33-43f8-84a9-386123b18c6f?org_if_sml=194"
        alt="Rectangle131421"
        class="more-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1421-okhl.svg"
          alt="Vector1421"
          class="more-vector"
        />
        <img
          src="/assets/playground_assets/vector1421-cpwq.svg"
          alt="Vector1421"
          class="more-vector01"
        />
      </div>
      <span class="more-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1421-cc1it.svg"
          alt="Vector1421"
          class="more-vector02"
        />
        <img
          src="/assets/playground_assets/vector1421-xx76.svg"
          alt="Vector1421"
          class="more-vector03"
        />
      </div>
      <div class="more-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1421-8hui.svg"
            alt="Vector1421"
            class="more-vector04"
          />
          <img
            src="/assets/playground_assets/vector1421-9vao.svg"
            alt="Vector1421"
            class="more-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/5fe37e78-1c94-4561-aadd-599a38f0e730?org_if_sml=1147"
          alt="Ellipse51421"
          class="more-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/83cf6d6b-5993-460f-a6e1-c3354a9a6696?org_if_sml=1524"
        alt="Rectangle251421"
        class="more-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271421-pj7o.svg"
        alt="Rectangle271421"
        class="more-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f20ac1ad-d96e-48fe-b147-b2396758023e?org_if_sml=1502"
        alt="Rectangle261421"
        class="more-rectangle26"
      />
      <div class="more-group51">
        <div class="more-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/63f44f18-af2b-4ab5-b031-fa1126f2bb06?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1421"
            class="more-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="more-group56">
        <img
          src="/assets/playground_assets/vector1421-s2kq.svg"
          alt="Vector1421"
          class="more-vector06"
        />
      </div>
      <div class="more-group54">
        <img
          src="/assets/playground_assets/vector1421-phj.svg"
          alt="Vector1421"
          class="more-vector07"
        />
      </div>
      <div class="more-group53">
        <img
          src="/assets/playground_assets/vector1421-li7j.svg"
          alt="Vector1421"
          class="more-vector08"
        />
      </div>
      <div class="more-group52">
        <img
          src="/assets/playground_assets/vector1421-b3x.svg"
          alt="Vector1421"
          class="more-vector09"
        />
      </div>
      <div class="more-group58">
        <img
          src="/assets/playground_assets/vector1421-idja.svg"
          alt="Vector1421"
          class="more-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1421-ax56.svg"
        alt="Vector1421"
        class="more-vector11"
      />
    </div>
    <div class="more-logo3">
      <div class="more-clippathgroup">
        <div class="more-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1421-zdo2p.svg"
            alt="Vector1421"
            class="more-vector12"
          />
        </div>
        <div class="more-group">
          <img
            src="/assets/playground_assets/vector1421-d9z3.svg"
            alt="Vector1421"
            class="more-vector13"
          />
        </div>
      </div>
      <div class="more-clippathgroup1">
        <div class="more-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1421-8hw.svg"
            alt="Vector1421"
            class="more-vector14"
          />
        </div>
        <div class="more-group01">
          <div class="more-clippathgroup2">
            <div class="more-frame572541114f">
              <img
                src="/assets/playground_assets/vector1421-wzrn.svg"
                alt="Vector1421"
                class="more-vector15"
              />
            </div>
            <div class="more-group02">
              <img
                src="/assets/playground_assets/vector1421-93km.svg"
                alt="Vector1421"
                class="more-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="more-clippathgroup3">
        <div class="more-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1421-o7w.svg"
            alt="Vector1421"
            class="more-vector17"
          />
        </div>
        <div class="more-group03">
          <div class="more-clippathgroup4">
            <div class="more-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1421-4hl.svg"
                alt="Vector1421"
                class="more-vector18"
              />
            </div>
            <div class="more-group04">
              <img
                src="/assets/playground_assets/vector1421-xhh8.svg"
                alt="Vector1421"
                class="more-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="more-group05">
        <div class="more-group06">
          <div class="more-group07">
            <img
              src="/assets/playground_assets/vector1421-se9o.svg"
              alt="Vector1421"
              class="more-vector20"
            />
          </div>
        </div>
      </div>
      <div class="more-group08">
        <div class="more-group09">
          <div class="more-group10">
            <img
              src="/assets/playground_assets/vector1421-bsay.svg"
              alt="Vector1421"
              class="more-vector21"
            />
          </div>
        </div>
      </div>
      <div class="more-group11">
        <div class="more-group12">
          <div class="more-group13">
            <img
              src="/assets/playground_assets/vector1421-5u7.svg"
              alt="Vector1421"
              class="more-vector22"
            />
          </div>
        </div>
      </div>
      <div class="more-group14">
        <div class="more-group15">
          <div class="more-group16">
            <img
              src="/assets/playground_assets/vector1421-4r1o.svg"
              alt="Vector1421"
              class="more-vector23"
            />
          </div>
        </div>
      </div>
      <div class="more-group17">
        <div class="more-group18">
          <div class="more-group19">
            <img
              src="/assets/playground_assets/vector1421-4ocq.svg"
              alt="Vector1421"
              class="more-vector24"
            />
          </div>
        </div>
      </div>
      <div class="more-group20">
        <div class="more-group21">
          <div class="more-group22">
            <img
              src="/assets/playground_assets/vector1421-t3zf.svg"
              alt="Vector1421"
              class="more-vector25"
            />
          </div>
        </div>
      </div>
      <div class="more-group23">
        <div class="more-group24">
          <div class="more-group25">
            <img
              src="/assets/playground_assets/vector1421-mkun.svg"
              alt="Vector1421"
              class="more-vector26"
            />
          </div>
        </div>
      </div>
      <div class="more-group26">
        <div class="more-group27">
          <div class="more-group28">
            <img
              src="/assets/playground_assets/vector1421-ww8b.svg"
              alt="Vector1421"
              class="more-vector27"
            />
          </div>
        </div>
      </div>
      <div class="more-group29">
        <div class="more-group30">
          <div class="more-group31">
            <img
              src="/assets/playground_assets/vector1421-wh09.svg"
              alt="Vector1421"
              class="more-vector28"
            />
          </div>
        </div>
      </div>
      <div class="more-group32">
        <div class="more-group33">
          <div class="more-group34">
            <img
              src="/assets/playground_assets/vector1421-oqyp.svg"
              alt="Vector1421"
              class="more-vector29"
            />
          </div>
        </div>
      </div>
      <div class="more-group35">
        <div class="more-group36">
          <div class="more-group37">
            <img
              src="/assets/playground_assets/vector1421-oso4.svg"
              alt="Vector1421"
              class="more-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <span class="more-text02"><span>Contáctanos</span></span>
    <span class="more-text04"><span>Créditos del sitio web</span></span>
    <span class="more-text06"><span>Numero:3138465959</span></span>
    <span class="more-text08">
      <span>
        <span>Juan Camilo Sanchez</span>
        <br />
        <span></span>
        <br />
        <span>
          Duvan Camilo Marin
          <span [innerHTML]="raw5rll"></span>
        </span>
      </span>
    </span>
    <span class="more-text15"><span>Correo:clases@cursos.com</span></span>
    <span class="more-text17"
      ><span><a href="/map">Mapa de la pagina web</a> </span></span
    >
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/59bbfade-f480-4516-b8f9-4f8227563ee5?org_if_sml=122718"
      alt="IMAGE511167"
      class="more-image51"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6fd0b55b-3665-4843-8015-e13dc488b8a7?org_if_sml=16096"
      alt="image392761"
      class="more-image39"
    />
  </div>
</div>
