<div class="profile-container">
  <div class="profile-perfil">
    <div class="profile-group60">
      <img
        src="/assets/playground_assets/rectangle241182-na4j.svg"
        alt="Rectangle241182"
        class="profile-rectangle24"
      />
      <div class="profile-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6dfbf29a-7bc4-4782-9344-742eaa74f8d4?org_if_sml=1127"
          alt="RectangleCopyI118"
          class="profile-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1228235f-efa8-4e9d-897a-216fe1497aae?org_if_sml=1137"
          alt="RectangleCopy8I118"
          class="profile-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/14a6f74d-640c-4c9e-9eca-ffb0f4abb503?org_if_sml=1134"
          alt="RectangleCopy7I118"
          class="profile-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/0da0a7d8-3951-492a-ab13-c60f2f402d1e?org_if_sml=1128"
          alt="RectangleCopy2I118"
          class="profile-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/2c372314-792f-4c82-9851-11603c8d8983?org_if_sml=1126"
          alt="RectangleCopy10I118"
          class="profile-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/21ef944a-e850-46c9-a140-62a548d974e0?org_if_sml=1142"
          alt="RectangleCopy9I118"
          class="profile-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/9c74e367-be05-416b-9eb8-4e2b519a527f?org_if_sml=1153"
          alt="RectangleCopy6I118"
          class="profile-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/08a7bdf9-be2b-4383-b782-f7d2606650fa?org_if_sml=1154"
          alt="RectangleCopy5I118"
          class="profile-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/77d81b33-28b7-4eff-96c9-324f1f8e2568?org_if_sml=1146"
          alt="RectangleCopy3I118"
          class="profile-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/70ecc9c9-5564-4b93-9a36-d784a322dfb6?org_if_sml=194"
        alt="Rectangle11182"
        class="profile-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/35b59485-dc28-4218-96ba-507949e3029d?org_if_sml=194"
        alt="Rectangle131182"
        class="profile-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1182-2fto.svg"
          alt="Vector1182"
          class="profile-vector"
        />
        <img
          src="/assets/playground_assets/vector1182-usc.svg"
          alt="Vector1182"
          class="profile-vector01"
        />
      </div>
      <span class="profile-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1182-kgim.svg"
          alt="Vector1182"
          class="profile-vector02"
        />
        <img
          src="/assets/playground_assets/vector1182-ggu.svg"
          alt="Vector1182"
          class="profile-vector03"
        />
      </div>
      <div class="profile-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1182-offe.svg"
            alt="Vector1182"
            class="profile-vector04"
          />
          <img
            src="/assets/playground_assets/vector1182-fzy.svg"
            alt="Vector1182"
            class="profile-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/b270a248-7ce7-4be1-9e92-d53b11831956?org_if_sml=1147"
          alt="Ellipse51182"
          class="profile-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7e7596f2-c3bb-40da-bf30-12cdf66a36a0?org_if_sml=1524"
        alt="Rectangle251182"
        class="profile-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271182-xe4.svg"
        alt="Rectangle271182"
        class="profile-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/4586f4b0-82f9-4366-988a-dc2d0f7edd8b?org_if_sml=1502"
        alt="Rectangle261182"
        class="profile-rectangle26"
      />
      <div class="profile-group51">
        <div class="profile-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c67a0746-f043-4668-8d85-5582ec65d88b?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1182"
            class="profile-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="profile-group56">
        <a href="/home"
          ><img
            src="/assets/playground_assets/vector1182-u0jw.svg"
            alt="Vector1182"
            class="profile-vector06"
        /></a>
      </div>
      <div class="profile-group54">
        <img
          src="/assets/playground_assets/vector1182-seg.svg"
          alt="Vector1182"
          class="profile-vector07"
        />
      </div>
      <div class="profile-group53">
        <img
          src="/assets/playground_assets/vector1182-rr4c.svg"
          alt="Vector1182"
          class="profile-vector08"
        />
      </div>
      <div class="profile-group52">
        <img
          src="/assets/playground_assets/vector1182-v0f.svg"
          alt="Vector1182"
          class="profile-vector09"
        />
      </div>
      <div class="profile-group58">
        <img
          src="/assets/playground_assets/vector1182-co77.svg"
          alt="Vector1182"
          class="profile-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1182-cq5j.svg"
        alt="Vector1182"
        class="profile-vector11"
      />
    </div>
    <div class="profile-logo3">
      <div class="profile-clippathgroup">
        <div class="profile-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1182-6038.svg"
            alt="Vector1182"
            class="profile-vector12"
          />
        </div>
        <div class="profile-group">
          <img
            src="/assets/playground_assets/vector1182-ylqa.svg"
            alt="Vector1182"
            class="profile-vector13"
          />
        </div>
      </div>
      <div class="profile-clippathgroup1">
        <div class="profile-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1182-le2.svg"
            alt="Vector1182"
            class="profile-vector14"
          />
        </div>
        <div class="profile-group01">
          <div class="profile-clippathgroup2">
            <div class="profile-frame572541114f">
              <img
                src="/assets/playground_assets/vector1182-20b.svg"
                alt="Vector1182"
                class="profile-vector15"
              />
            </div>
            <div class="profile-group02">
              <img
                src="/assets/playground_assets/vector1182-639v.svg"
                alt="Vector1182"
                class="profile-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="profile-clippathgroup3">
        <div class="profile-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1182-c1ls.svg"
            alt="Vector1182"
            class="profile-vector17"
          />
        </div>
        <div class="profile-group03">
          <div class="profile-clippathgroup4">
            <div class="profile-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1182-rzvd.svg"
                alt="Vector1182"
                class="profile-vector18"
              />
            </div>
            <div class="profile-group04">
              <img
                src="/assets/playground_assets/vector1182-mvvg.svg"
                alt="Vector1182"
                class="profile-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="profile-group05">
        <div class="profile-group06">
          <div class="profile-group07">
            <img
              src="/assets/playground_assets/vector1182-9fb8.svg"
              alt="Vector1182"
              class="profile-vector20"
            />
          </div>
        </div>
      </div>
      <div class="profile-group08">
        <div class="profile-group09">
          <div class="profile-group10">
            <img
              src="/assets/playground_assets/vector1182-72u.svg"
              alt="Vector1182"
              class="profile-vector21"
            />
          </div>
        </div>
      </div>
      <div class="profile-group11">
        <div class="profile-group12">
          <div class="profile-group13">
            <img
              src="/assets/playground_assets/vector1182-2juu.svg"
              alt="Vector1182"
              class="profile-vector22"
            />
          </div>
        </div>
      </div>
      <div class="profile-group14">
        <div class="profile-group15">
          <div class="profile-group16">
            <img
              src="/assets/playground_assets/vector1182-odzl.svg"
              alt="Vector1182"
              class="profile-vector23"
            />
          </div>
        </div>
      </div>
      <div class="profile-group17">
        <div class="profile-group18">
          <div class="profile-group19">
            <img
              src="/assets/playground_assets/vector1182-vcp6.svg"
              alt="Vector1182"
              class="profile-vector24"
            />
          </div>
        </div>
      </div>
      <div class="profile-group20">
        <div class="profile-group21">
          <div class="profile-group22">
            <img
              src="/assets/playground_assets/vector1182-1lt.svg"
              alt="Vector1182"
              class="profile-vector25"
            />
          </div>
        </div>
      </div>
      <div class="profile-group23">
        <div class="profile-group24">
          <div class="profile-group25">
            <img
              src="/assets/playground_assets/vector1182-05h.svg"
              alt="Vector1182"
              class="profile-vector26"
            />
          </div>
        </div>
      </div>
      <div class="profile-group26">
        <div class="profile-group27">
          <div class="profile-group28">
            <img
              src="/assets/playground_assets/vector1182-0ufp.svg"
              alt="Vector1182"
              class="profile-vector27"
            />
          </div>
        </div>
      </div>
      <div class="profile-group29">
        <div class="profile-group30">
          <div class="profile-group31">
            <img
              src="/assets/playground_assets/vector1182-ik4q.svg"
              alt="Vector1182"
              class="profile-vector28"
            />
          </div>
        </div>
      </div>
      <div class="profile-group32">
        <div class="profile-group33">
          <div class="profile-group34">
            <img
              src="/assets/playground_assets/vector1182-bpdg.svg"
              alt="Vector1182"
              class="profile-vector29"
            />
          </div>
        </div>
      </div>
      <div class="profile-group35">
        <div class="profile-group36">
          <div class="profile-group37">
            <img
              src="/assets/playground_assets/vector1182-fzaj.svg"
              alt="Vector1182"
              class="profile-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="profile-div">
      <div class="profile-div01">
        <div class="profile-div02">
          <span class="profile-text02"><span>Duvan Marin</span></span>
          <span class="profile-text04">
            <span>Modifica los datos relacionados con tu perfil</span>
          </span>
        </div>
        <div class="profile-group50">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/02bccd84-39a4-4bb1-86ab-f12d89a66001?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1512"
            class="profile-unsplash-jmf--nc-l24m1"
          />
        </div>
      </div>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/aba3e94d-a003-414a-928b-12dc4c781fe1?org_if_sml=1115"
      alt="div1511"
      class="profile-div03"
    />
    <div class="profile-div04">
      <div class="profile-div05">
        <div class="profile-div06">
          <img
            src="/assets/playground_assets/svg1511-piud.svg"
            alt="svg1511"
            class="profile-svg"
          />
          <span class="profile-text06"><span>Perfil</span></span>
        </div>
        <div class="profile-div07">
          <div class="profile-div08">
            <img
              src="/assets/playground_assets/svg1511-9ksah.svg"
              alt="svg1511"
              class="profile-svg1"
            />
          </div>
          <span class="profile-text08"
            ><span><a href="/social-media">Redes sociales</a> </span></span
          >
        </div>
        <div class="profile-div09">
          <div class="profile-div10">
            <img
              src="/assets/playground_assets/svg1511-zb5.svg"
              alt="svg1511"
              class="profile-svg2"
            />
          </div>
          <span class="profile-text10"
            ><span><a href="/privacy">Privacidad</a> </span></span
          >
        </div>
        <div class="profile-div11">
          <div class="profile-div12">
            <img
              src="/assets/playground_assets/svg1511-mnwp.svg"
              alt="svg1511"
              class="profile-svg3"
            />
          </div>
          <span class="profile-text12"
            ><span><a href="payment-methods">Metodos de pago</a> </span></span
          >
        </div>
        <div class="profile-div13">
          <img
            src="/assets/playground_assets/svg1511-ixok.svg"
            alt="svg1511"
            class="profile-svg4"
          />
          <span class="profile-text14"
            ><span><a href="/more">Contactanos</a> </span></span
          >
        </div>
      </div>
      <div class="profile-div14">
        <div class="profile-div15">
          <div class="profile-group491">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/dfdb0644-e56a-40cb-b2e3-9ce88143b96d?org_if_sml=1785"
              alt="unsplash3JmfENcL24M1512"
              class="profile-unsplash-jmf--nc-l24m2"
            />
          </div>
          <div class="profile-div16">
            <span class="profile-text16">
              <span>Sube una foto en formato PNG, JPG</span>
            </span>
            <div class="profile-div17">
              <button class="profile-button">
                <span class="profile-text18">
                  <span>Subir foto nueva</span>
                </span>
                <img
                  src="/assets/playground_assets/svg1511-vtzo.svg"
                  alt="svg1511"
                  class="profile-svg5"
                />
              </button>
              <div class="profile-borraravatar">
                <img
                  src="/assets/playground_assets/svg1511-rdl.svg"
                  alt="svg1511"
                  class="profile-svg6"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="profile-div18">
          <span class="profile-text20"><span>Nombre de usuario</span></span>
          <input type="text" placeholder="duvanmar" class="profile-input" />
        </div>
        <div class="profile-div19">
          <span class="profile-text22"><span>Nombre</span></span>
          <input type="text" placeholder="Duvan" class="profile-input1" />
        </div>
        <div class="profile-div20">
          <span class="profile-text24"><span>Apellidos</span></span>
          <input type="text" placeholder="Marin" class="profile-input2" />
        </div>
      </div>
    </div>
    <div class="profile-httpscampusopenbootcampcomperfilperfil">
      <button class="profile-button1">
        <span class="profile-text26"><span>Descartar cambios</span></span>
      </button>
      <button class="profile-button2">
        <span class="profile-text28"><span>Guardar cambios</span></span>
      </button>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/a24dc152-6b72-4c3e-81e9-4132d2f55b1c?org_if_sml=16096"
      alt="image382761"
      class="profile-image38"
    />
  </div>
</div>
