<div class="map-container">
  <div class="map-group61">
    <img
      src="/assets/playground_assets/rectangle242792-4enc.svg"
      alt="Rectangle242792"
      class="map-rectangle24"
    />
    <div class="map-settings">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/78374b80-20a1-4c2c-846f-bed46587d853?org_if_sml=1127"
        alt="RectangleCopyI279"
        class="map-rectangle-copy"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c40f99e6-ec23-4442-92ef-2a507ada1098?org_if_sml=1137"
        alt="RectangleCopy8I279"
        class="map-rectangle-copy8"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8e197b6d-7667-4b46-b087-1b4b9d761c86?org_if_sml=1134"
        alt="RectangleCopy7I279"
        class="map-rectangle-copy7"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/76580c36-afb9-442e-8cfa-1ee6eabc0195?org_if_sml=1128"
        alt="RectangleCopy2I279"
        class="map-rectangle-copy2"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/b66a9b7d-a8f0-4aeb-8377-c681352209a4?org_if_sml=1126"
        alt="RectangleCopy10I279"
        class="map-rectangle-copy10"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/a6ef701f-feb5-4154-963d-91b587448841?org_if_sml=1142"
        alt="RectangleCopy9I279"
        class="map-rectangle-copy9"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/d35b0221-100d-4743-8cf5-0a50c3eb1089?org_if_sml=1153"
        alt="RectangleCopy6I279"
        class="map-rectangle-copy6"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/59d707e4-a6c7-42e4-ab66-e8733d9c4135?org_if_sml=1154"
        alt="RectangleCopy5I279"
        class="map-rectangle-copy5"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/9a3ebb80-4e0b-495e-a219-5585253f4a65?org_if_sml=1146"
        alt="RectangleCopy3I279"
        class="map-rectangle-copy3"
      />
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/aab5791a-7b89-4438-8905-76f4fe64b71b?org_if_sml=194"
      alt="Rectangle12792"
      class="map-rectangle1"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e8066154-1f67-46de-bc68-f159f34f6605?org_if_sml=194"
      alt="Rectangle132792"
      class="map-rectangle13"
    />
    <div class="map-group21">
      <img
        src="/assets/playground_assets/vector2792-5ej.svg"
        alt="Vector2792"
        class="map-vector"
      />
      <img
        src="/assets/playground_assets/vector2792-r00m.svg"
        alt="Vector2792"
        class="map-vector01"
      />
    </div>
    <span class="map-text"><span>Buscar</span></span>
    <div class="map-group23">
      <img
        src="/assets/playground_assets/vector2792-3djm.svg"
        alt="Vector2792"
        class="map-vector02"
      />
      <img
        src="/assets/playground_assets/vector2792-hggo.svg"
        alt="Vector2792"
        class="map-vector03"
      />
    </div>
    <div class="map-group48">
      <div class="map-group22">
        <img
          src="/assets/playground_assets/vector2792-hc2f.svg"
          alt="Vector2792"
          class="map-vector04"
        />
        <img
          src="/assets/playground_assets/vector2792-1kus.svg"
          alt="Vector2792"
          class="map-vector05"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7430654f-9365-4426-936e-237a20954749?org_if_sml=1147"
        alt="Ellipse52792"
        class="map-ellipse5"
      />
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/0bf69e0c-5861-4227-9176-b80b4ccedb0e?org_if_sml=1524"
      alt="Rectangle252792"
      class="map-rectangle25"
    />
    <img
      src="/assets/playground_assets/rectangle272792-jtli.svg"
      alt="Rectangle272792"
      class="map-rectangle27"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/3ca39d1b-de5a-437a-9f19-46ac1da1543a?org_if_sml=1502"
      alt="Rectangle262792"
      class="map-rectangle26"
    />
    <div class="map-group51">
      <div class="map-group49">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e9d2ba06-c35f-4721-807e-dc2e8b0c7078?org_if_sml=1785"
          alt="unsplash3JmfENcL24M2792"
          class="map-unsplash-jmf--nc-l24m"
        />
      </div>
    </div>
    <div class="map-group56">
      <a href="/home"
        ><img
          src="/assets/playground_assets/vector2792-0nkr.svg"
          alt="Vector2792"
          class="map-vector06"
      /></a>
    </div>
    <div class="map-group54">
      <img
        src="/assets/playground_assets/vector2792-orn.svg"
        alt="Vector2792"
        class="map-vector07"
      />
    </div>
    <div class="map-group53">
      <img
        src="/assets/playground_assets/vector2792-5go.svg"
        alt="Vector2792"
        class="map-vector08"
      />
    </div>
    <div class="map-group52">
      <img
        src="/assets/playground_assets/vector2792-q2b.svg"
        alt="Vector2792"
        class="map-vector09"
      />
    </div>
    <div class="map-group58">
      <img
        src="/assets/playground_assets/vector2792-vjy.svg"
        alt="Vector2792"
        class="map-vector10"
      />
    </div>
    <img
      src="/assets/playground_assets/vector2792-itfm.svg"
      alt="Vector2792"
      class="map-vector11"
    />
    <span class="map-text2"><span>Mapa de la pagina web</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/b22e6f34-94fc-4b5f-9c40-acc238547893?org_if_sml=130464"
      alt="Mapa12803"
      class="map-mapa1"
    />
  </div>
</div>
