<div class="login-container">
  <div class="login-login">
    <div class="login-login1">
      <div class="login-group60"></div>
      <div class="login-group75">
        <div class="login-div">
          <img
            alt="svg1173"
            src="/assets/playground_assets/svg1173-st4k.svg"
            class="login-svg"
          />
          <div class="login-div01">
            <span class="login-text"><span>¡Bienvenido/a!</span></span>
            <div class="login-div02">
              <div class="login-div03">
                <span class="login-text02"><span>Email</span></span>
                <div class="login-inputemail">
                  <div class="login-divplaceholder">
                    <span class="login-text04">
                      <span>Introduce tu email</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="login-div04">
                <span class="login-text06"><span>Contraseña</span></span>
                <div class="login-div05">
                  <div class="login-inputpassword">
                    <div class="login-divplaceholder1">
                      <span class="login-text08">
                        <span>Introduce tu contraseña</span>
                      </span>
                    </div>
                  </div>
                  <img
                    alt="svg1173"
                    src="/assets/playground_assets/svg1173-kwu.svg"
                    class="login-svg1"
                  />
                </div>
              </div>
              <div class="login-div06">
                <span class="login-text10">
                  <span>¿Has olvidado la contraseña?</span>
                </span>
                <div class="login-label">
                  <img
                    alt="span1173"
                    src="/assets/playground_assets/span1173-6vf7-200h.png"
                    class="login-span"
                  />
                  <span class="login-text12"><span>Recuérdame</span></span>
                </div>
              </div>
              <div class="login-div07">
                <button class="login-button">
                  <span class="login-text14"><span>Iniciar sesión</span></span>
                </button>
                <button class="login-button1">
                  <span class="login-text16">
                    <span>Registrar nueva cuenta</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="login-div08">
            <span class="login-text18">
              <span>
                Copyright © 2023 OpenBootcamp S.L. Todos los derechos
                reservados.
              </span>
            </span>
            <span class="login-text20">
              <span>Política de Privacidad</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <img
      alt="Pixabay18394061173"
      src="/assets/playground_assets/pixabay18394061173-28-700w.png"
      class="login-pixabay1839406"
    />
    <div class="login-login2">
      <div class="login-group601"></div>
      <div class="login-group751">
        <div class="login-div09">
          <img
            alt="svg1175"
            src="/assets/playground_assets/svg1175-w4gm.svg"
            class="login-svg2"
          />
          <div class="login-div10">
            <span class="login-text22"><span>¡Bienvenido/a!</span></span>
            <div class="login-div11">
              <div class="login-div12">
                <span class="login-text24"><span>Email</span></span>
                <div class="login-inputemail1">
                  <div class="login-divplaceholder2">
                    <input type="email" placeholder="Introduce tu email" />
                  </div>
                </div>
              </div>
              <div class="login-div13">
                <span class="login-text28"><span>Contraseña</span></span>
                <div class="login-div14">
                  <div class="login-inputpassword1">
                    <div class="login-divplaceholder3">
                      <input
                        type="password"
                        placeholder="Introduce tu contraseña"
                      />
                    </div>
                  </div>
                  <img
                    alt="svg1176"
                    src="/assets/playground_assets/svg1176-jxs.svg"
                    class="login-svg3"
                  />
                </div>
              </div>
              <div class="login-div15">
                <span class="login-text32">
                  <span>¿Has olvidado la contraseña?</span>
                </span>
                <div class="login-label1">
                  <img
                    alt="span1176"
                    src="/assets/playground_assets/span1176-v0qd-200h.png"
                    class="login-span1"
                  />
                  <span class="login-text34"><span>Recuérdame</span></span>
                </div>
              </div>
              <div class="login-div16">
                <a href="/home" class="login-button2">
                  <span class="login-text36">
                    <span>Iniciar sesión</span>
                  </span>
                </a>
                <a href="/sign-up" class="login-button3">
                  <span class="login-text38">
                    <span>Registrar nueva cuenta</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="login-div17">
            <span class="login-text40">
              <span>
                Copyright © 2023 OpenBootcamp S.L. Todos los derechos
                reservados.
              </span>
            </span>
            <span class="login-text42">
              <span>Política de Privacidad</span>
            </span>
          </div>
          <img
            alt="image382761"
            src="/assets/playground_assets/image382761-dec9-200h.png"
            class="login-image38"
          />
        </div>
      </div>
    </div>
    <img
      alt="Pixabay18394061176"
      src="/assets/playground_assets/pixabay18394061176-1ruc-700w.png"
      class="login-pixabay18394061"
    />
  </div>
</div>
