<div class="privacy-container">
  <div class="privacy-privacidad">
    <div class="privacy-group60">
      <img
        src="/assets/playground_assets/rectangle241421-dtn7.svg"
        alt="Rectangle241421"
        class="privacy-rectangle24"
      />
      <div class="privacy-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/48aa197c-dcc2-4f55-9c34-779b8c1d7889?org_if_sml=1127"
          alt="RectangleCopyI142"
          class="privacy-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/9cd5d82a-d4bd-44af-a9bb-946f9b191b37?org_if_sml=1137"
          alt="RectangleCopy8I142"
          class="privacy-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/d0d74695-c018-477d-a189-bbd873e9dc38?org_if_sml=1134"
          alt="RectangleCopy7I142"
          class="privacy-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/4d188422-8c7b-4ffa-9185-295e44825bc9?org_if_sml=1128"
          alt="RectangleCopy2I142"
          class="privacy-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e8696fc6-b6b8-434d-b933-04e41e361ef9?org_if_sml=1126"
          alt="RectangleCopy10I142"
          class="privacy-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/126c8a18-2602-4066-bfab-db581909c192?org_if_sml=1142"
          alt="RectangleCopy9I142"
          class="privacy-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/34b4d92e-60c9-49bd-85cf-f8d0047bb28b?org_if_sml=1153"
          alt="RectangleCopy6I142"
          class="privacy-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8730e640-965f-4d74-be2f-0d2d6be22e37?org_if_sml=1154"
          alt="RectangleCopy5I142"
          class="privacy-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/5a16acd5-252b-4802-8900-625919c19dc8?org_if_sml=1146"
          alt="RectangleCopy3I142"
          class="privacy-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c0bca4ef-582a-4ab5-bbac-61b9aac6beab?org_if_sml=194"
        alt="Rectangle11421"
        class="privacy-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/42437033-188a-4833-b36f-b78a68ac4639?org_if_sml=194"
        alt="Rectangle131421"
        class="privacy-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1421-8oep.svg"
          alt="Vector1421"
          class="privacy-vector"
        />
        <img
          src="/assets/playground_assets/vector1421-ktl9.svg"
          alt="Vector1421"
          class="privacy-vector01"
        />
      </div>
      <span class="privacy-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1421-2kf8x.svg"
          alt="Vector1421"
          class="privacy-vector02"
        />
        <img
          src="/assets/playground_assets/vector1421-58ap.svg"
          alt="Vector1421"
          class="privacy-vector03"
        />
      </div>
      <div class="privacy-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1421-dbnp.svg"
            alt="Vector1421"
            class="privacy-vector04"
          />
          <img
            src="/assets/playground_assets/vector1421-oxur.svg"
            alt="Vector1421"
            class="privacy-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/93b81238-d966-4f69-b5cb-f1a88ba411dc?org_if_sml=1147"
          alt="Ellipse51421"
          class="privacy-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/96989bf6-90ca-4d0b-986b-83ccc1b46a2e?org_if_sml=1524"
        alt="Rectangle251421"
        class="privacy-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271421-9r3h.svg"
        alt="Rectangle271421"
        class="privacy-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/5e9a6324-4dce-4e71-a9ac-73a611c7f364?org_if_sml=1502"
        alt="Rectangle261421"
        class="privacy-rectangle26"
      />
      <div class="privacy-group51">
        <div class="privacy-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1d9d4106-f372-4fae-9b18-73e962f82e41?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1421"
            class="privacy-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="privacy-group56">
        <img
          src="/assets/playground_assets/vector1421-u0t.svg"
          alt="Vector1421"
          class="privacy-vector06"
        />
      </div>
      <div class="privacy-group54">
        <img
          src="/assets/playground_assets/vector1421-yz4.svg"
          alt="Vector1421"
          class="privacy-vector07"
        />
      </div>
      <div class="privacy-group53">
        <img
          src="/assets/playground_assets/vector1421-6x4.svg"
          alt="Vector1421"
          class="privacy-vector08"
        />
      </div>
      <div class="privacy-group52">
        <img
          src="/assets/playground_assets/vector1421-49lo.svg"
          alt="Vector1421"
          class="privacy-vector09"
        />
      </div>
      <div class="privacy-group58">
        <img
          src="/assets/playground_assets/vector1421-0p8.svg"
          alt="Vector1421"
          class="privacy-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1421-3vz.svg"
        alt="Vector1421"
        class="privacy-vector11"
      />
    </div>
    <div class="privacy-logo3">
      <div class="privacy-clippathgroup">
        <div class="privacy-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1421-n4lo.svg"
            alt="Vector1421"
            class="privacy-vector12"
          />
        </div>
        <div class="privacy-group">
          <img
            src="/assets/playground_assets/vector1421-0zidj.svg"
            alt="Vector1421"
            class="privacy-vector13"
          />
        </div>
      </div>
      <div class="privacy-clippathgroup1">
        <div class="privacy-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1421-0fvf.svg"
            alt="Vector1421"
            class="privacy-vector14"
          />
        </div>
        <div class="privacy-group01">
          <div class="privacy-clippathgroup2">
            <div class="privacy-frame572541114f">
              <img
                src="/assets/playground_assets/vector1421-9ip.svg"
                alt="Vector1421"
                class="privacy-vector15"
              />
            </div>
            <div class="privacy-group02">
              <img
                src="/assets/playground_assets/vector1421-mpb4.svg"
                alt="Vector1421"
                class="privacy-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="privacy-clippathgroup3">
        <div class="privacy-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1421-3q3.svg"
            alt="Vector1421"
            class="privacy-vector17"
          />
        </div>
        <div class="privacy-group03">
          <div class="privacy-clippathgroup4">
            <div class="privacy-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1421-rta.svg"
                alt="Vector1421"
                class="privacy-vector18"
              />
            </div>
            <div class="privacy-group04">
              <img
                src="/assets/playground_assets/vector1421-au1n.svg"
                alt="Vector1421"
                class="privacy-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="privacy-group05">
        <div class="privacy-group06">
          <div class="privacy-group07">
            <img
              src="/assets/playground_assets/vector1421-bod9j.svg"
              alt="Vector1421"
              class="privacy-vector20"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group08">
        <div class="privacy-group09">
          <div class="privacy-group10">
            <img
              src="/assets/playground_assets/vector1421-5yqc.svg"
              alt="Vector1421"
              class="privacy-vector21"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group11">
        <div class="privacy-group12">
          <div class="privacy-group13">
            <img
              src="/assets/playground_assets/vector1421-noar.svg"
              alt="Vector1421"
              class="privacy-vector22"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group14">
        <div class="privacy-group15">
          <div>
            <img
              src="/assets/playground_assets/vector1421-ekez.svg"
              alt="Vector1421"
              class="privacy-vector23"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group17">
        <div class="privacy-group18">
          <div class="privacy-group19">
            <img
              src="/assets/playground_assets/vector1421-xl9.svg"
              alt="Vector1421"
              class="privacy-vector24"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group20">
        <div class="privacy-group21">
          <div class="privacy-group22">
            <img
              src="/assets/playground_assets/vector1421-s439.svg"
              alt="Vector1421"
              class="privacy-vector25"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group23">
        <div class="privacy-group24">
          <div class="privacy-group25">
            <img
              src="/assets/playground_assets/vector1421-2zsj.svg"
              alt="Vector1421"
              class="privacy-vector26"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group26">
        <div class="privacy-group27">
          <div class="privacy-group28">
            <img
              src="/assets/playground_assets/vector1421-0ri.svg"
              alt="Vector1421"
              class="privacy-vector27"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group29">
        <div class="privacy-group30">
          <div class="privacy-group31">
            <img
              src="/assets/playground_assets/vector1421-yv7g.svg"
              alt="Vector1421"
              class="privacy-vector28"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group32">
        <div class="privacy-group33">
          <div class="privacy-group34">
            <img
              src="/assets/playground_assets/vector1421-u15.svg"
              alt="Vector1421"
              class="privacy-vector29"
            />
          </div>
        </div>
      </div>
      <div class="privacy-group35">
        <div class="privacy-group36">
          <div class="privacy-group37">
            <img
              src="/assets/playground_assets/vector1421-yvne.svg"
              alt="Vector1421"
              class="privacy-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="privacy-group82">
      <div class="privacy-group2">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7a5161a8-b888-4d55-9bed-708c93acaaa6?org_if_sml=16632"
          alt="unsplash3JmfENcL24M1421"
          class="privacy-unsplash-jmf--nc-l24m1"
        />
      </div>
      <div class="privacy-group16">
        <span class="privacy-text02"><span>Welcome,</span></span>
        <span class="privacy-text04"><span>Duvan Marin</span></span>
      </div>
    </div>
    <span class="privacy-text06"><span>Privacidad</span></span>
    <span class="privacy-text08">
      <span>Estos son las opciones privacidad de sus datos</span>
    </span>
    <img
      src="/assets/playground_assets/rectangle331166-q69j.svg"
      alt="Rectangle331166"
      class="privacy-rectangle33"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/bc8e7dbb-b548-4c78-81ba-9fcb19140c6b?org_if_sml=1468"
      alt="Rectangle281166"
      class="privacy-rectangle28"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/d9c5ba45-63c3-4d7e-bb4a-868fda5ac35d?org_if_sml=1468"
      alt="Rectangle291165"
      class="privacy-rectangle29"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/bc7eba90-0703-4f79-a62b-08b9f310cba4?org_if_sml=1468"
      alt="Rectangle301166"
      class="privacy-rectangle30"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6fe34a96-d179-40c3-bc6a-7e39b76bd62d?org_if_sml=1468"
      alt="Rectangle311166"
      class="privacy-rectangle31"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c8581f3c-3efa-4865-8ed9-9a35f2d803d3?org_if_sml=13620"
      alt="IMAGE31122468461166"
      class="privacy-image3112246846"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/daf176aa-11bb-4a55-8714-342740e9ccaa?org_if_sml=13999"
      alt="IMAGE411166"
      class="privacy-image41"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/72d7a60d-2c6d-4778-b5fe-13ade2cfd956?org_if_sml=13999"
      alt="IMAGE411166"
      class="privacy-image411"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/d79912c4-1d56-437f-8c0b-cba4149aabbf?org_if_sml=13620"
      alt="IMAGE31122468471166"
      class="privacy-image3112246847"
    />
    <span class="privacy-text10">
      <span>Enviar automaticamente estadisticas de los cursos realizados</span>
    </span>
    <span class="privacy-text12"><span>Enviar sugerencias</span></span>
    <span class="privacy-text14">
      <span>Mostrar todos mis datos personales</span>
    </span>
    <span class="privacy-text16">
      <span>Guardar historial de mis cursos buscados</span>
    </span>
    <span class="privacy-text18"><span>Metodos de privacidad</span></span>
    <div class="privacy-group83">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/2c7648db-fefe-4b95-9d6b-d74ffdea1b1e?org_if_sml=11006"
        alt="unsplash3JmfENcL24M1611"
        class="privacy-unsplash-jmf--nc-l24m2"
      />
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/344ef22a-ea5a-4db4-818f-936437073e93?org_if_sml=16096"
      alt="image382761"
      class="privacy-image38"
    />
  </div>
</div>
