<div class="course-content-container">
  <div class="course-content-contenidodelcurso">
    <div class="course-content-group60">
      <img
        src="/assets/playground_assets/rectangle241514-itqb.svg"
        alt="Rectangle241514"
        class="course-content-rectangle24"
      />
      <div class="course-content-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/28d92c84-f21b-4702-91b7-c1bbe3e44e6a?org_if_sml=1127"
          alt="RectangleCopyI151"
          class="course-content-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e2213160-49b2-4678-ae59-dbeb4cb6c335?org_if_sml=1137"
          alt="RectangleCopy8I151"
          class="course-content-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/545a5a69-92ec-42f2-b7be-b47ff4accccc?org_if_sml=1134"
          alt="RectangleCopy7I151"
          class="course-content-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/3d1fcf05-a21e-4a5f-ba78-e6c057a2c720?org_if_sml=1128"
          alt="RectangleCopy2I151"
          class="course-content-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/798c5301-4c18-4652-9a79-0d4cf96a4ff5?org_if_sml=1126"
          alt="RectangleCopy10I151"
          class="course-content-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8f6bbe49-6321-459f-9356-7029f1d5604d?org_if_sml=1142"
          alt="RectangleCopy9I151"
          class="course-content-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c78ae6d5-8678-41ec-baee-01f1c17fd277?org_if_sml=1153"
          alt="RectangleCopy6I151"
          class="course-content-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/44fafcc9-4e80-40b8-8a93-e7431e20835d?org_if_sml=1154"
          alt="RectangleCopy5I151"
          class="course-content-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/2534d4d5-13dd-421f-b58a-1c59522a978c?org_if_sml=1146"
          alt="RectangleCopy3I151"
          class="course-content-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e0bcc7de-afa4-4bdf-8195-10f574fb6315?org_if_sml=194"
        alt="Rectangle11514"
        class="course-content-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/4789aee5-f103-4867-8240-377d916cfced?org_if_sml=194"
        alt="Rectangle131514"
        class="course-content-rectangle13"
      />
      <div class="course-content-group21">
        <img
          src="/assets/playground_assets/vector1514-9gjk.svg"
          alt="Vector1514"
          class="course-content-vector"
        />
        <img
          src="/assets/playground_assets/vector1514-eovq.svg"
          alt="Vector1514"
          class="course-content-vector01"
        />
      </div>
      <span class="course-content-text"><span>Buscar</span></span>
      <div class="course-content-group23">
        <img
          src="/assets/playground_assets/vector1514-s7b.svg"
          alt="Vector1514"
          class="course-content-vector02"
        />
        <img
          src="/assets/playground_assets/vector1514-vah.svg"
          alt="Vector1514"
          class="course-content-vector03"
        />
      </div>
      <div class="course-content-group48">
        <div class="course-content-group22">
          <img
            src="/assets/playground_assets/vector1514-zf58.svg"
            alt="Vector1514"
            class="course-content-vector04"
          />
          <img
            src="/assets/playground_assets/vector1514-qk69l.svg"
            alt="Vector1514"
            class="course-content-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/d1e33c2b-03f7-4af3-9a62-5ac0dca81f89?org_if_sml=1147"
          alt="Ellipse51514"
          class="course-content-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/77ec5e2b-a1f0-4aeb-ae08-c78f2031871e?org_if_sml=1524"
        alt="Rectangle251514"
        class="course-content-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271514-vgnn.svg"
        alt="Rectangle271514"
        class="course-content-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/92955e53-91e7-445c-a95a-cce021044552?org_if_sml=1502"
        alt="Rectangle261514"
        class="course-content-rectangle26"
      />
      <div class="course-content-group51">
        <div class="course-content-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/970044ea-a590-4416-8371-c42b664929ad?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1514"
            class="course-content-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="course-content-group56">
        <a href="/home"
          ><img
            src="/assets/playground_assets/vector1514-vcy9.svg"
            alt="Vector1514"
            class="course-content-vector06"
        /></a>
      </div>
      <div class="course-content-group54">
        <a href="/profile"
          ><img
            src="/assets/playground_assets/vector1515-3oqr.svg"
            alt="Vector1515"
            class="course-content-vector07"
        /></a>
      </div>
      <div class="course-content-group53">
        <a href="/settings">
          <img
            src="/assets/playground_assets/vector1515-w21r.svg"
            alt="Vector1515"
            class="course-content-vector08"
        /></a>
      </div>
      <div class="course-content-group52">
        <a href="/more"
          ><img
            src="/assets/playground_assets/vector1515-1u3.svg"
            alt="Vector1515"
            class="course-content-vector09"
        /></a>
      </div>
      <div class="course-content-group58">
        <a href="/login"
          ><img
            src="/assets/playground_assets/vector1515-75y.svg"
            alt="Vector1515"
            class="course-content-vector10"
        /></a>
      </div>
      <a href="/my-courses"
        ><img
          src="/assets/playground_assets/vector1515-n3ds.svg"
          alt="Vector1515"
          class="course-content-vector11"
      /></a>
    </div>
    <div class="course-content-div">
      <div class="course-content-div001">
        <div class="course-content-div002">
          <div class="course-content-image"></div>
          <div class="course-content-div003">
            <span class="course-content-text002">
              <span>Fundamentos de programación</span>
            </span>
            <div class="course-content-div004">
              <div class="course-content-div005">
                <img
                  src="/assets/playground_assets/svg1516-zlyd.svg"
                  alt="svg1516"
                  class="course-content-svg"
                />
                <span class="course-content-text004"><span>Inicial</span></span>
              </div>
              <div class="course-content-div006">
                <img
                  src="/assets/playground_assets/svg1516-p88.svg"
                  alt="svg1516"
                  class="course-content-svg01"
                />
                <span class="course-content-text006">
                  <span>11 módulos</span>
                </span>
              </div>
              <div class="course-content-div007">
                <img
                  src="/assets/playground_assets/svg1516-kfd.svg"
                  alt="svg1516"
                  class="course-content-svg02"
                />
                <span class="course-content-text008">
                  <span>15h 13min</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="course-content-div008">
          <img
            src="/assets/playground_assets/aadirafavorito1516-bp9m.svg"
            alt="Aadirafavorito1516"
            class="course-content-aadirafavorito"
          />
          <button class="course-content-button">
            <span class="course-content-text010">
              <span><a href="/course-view">Continuar curso</a> </span>
            </span>
            <img
              src="/assets/playground_assets/svg1517-icxw.svg"
              alt="svg1517"
              class="course-content-svg03"
            />
          </button>
        </div>
      </div>
      <div class="course-content-div009">
        <div class="course-content-div010">
          <img
            src="/assets/playground_assets/bgportadaleccionc91822f62f69826ea2d9486e26e92187sv1517-73gn.svg"
            alt="bgPortadaLeccionc91822f62f69826ea2d9486e26e92187sv1517"
            class="course-content-bg-portada-leccionc91822f62f69826ea2d9486e26e92187sv"
          />
          <div class="course-content-div011">
            <div class="course-content-div012">
              <span class="course-content-text012">
                <span>1.25.Arrays</span>
              </span>
              <div class="course-content-p">
                <div class="course-content-div013">
                  <span class="course-content-text014">
                    <span>Los arrays y su uso.</span>
                  </span>
                </div>
              </div>
            </div>
            <button class="course-content-button1">
              <img
                src="/assets/playground_assets/svg1517-zyrp.svg"
                alt="svg1517"
                class="course-content-svg04"
              />
              <span class="course-content-text016">
                <span><a href="/course-view">Continuar curso</a> </span>
              </span>
            </button>
          </div>
        </div>
        <div class="course-content-div014">
          <div class="course-content-div015">
            <button class="course-content-button2">
              <span class="course-content-text018">
                <span>Descripción del curso</span>
              </span>
            </button>
            <span class="course-content-text020"><span>Notas</span></span>
            <span class="course-content-text022">
              <span>Preguntas y respuestas</span>
            </span>
          </div>
          <div class="course-content-div016">
            <div class="course-content-div017">
              <span class="course-content-text024">
                <span>Sobre este curso</span>
              </span>
              <span class="course-content-text026">
                <span>
                  Empieza tu formación desde 0 y domina tanto el lenguaje Java
                  como las bases en la programación orientada a objetos.
                </span>
              </span>
            </div>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6247a2f3-8ad4-4fd8-b937-020e01da818f?org_if_sml=1111"
              alt="div1517"
              class="course-content-div018"
            />
            <div class="course-content-div019">
              <span class="course-content-text028">
                <span>Sobre el tutor</span>
              </span>
              <div class="course-content-div020">
                <img
                  src="/assets/playground_assets/svg1517-3esg.svg"
                  alt="svg1517"
                  class="course-content-svg05"
                />
                <div class="course-content-div021">
                  <span class="course-content-text030">
                    <span>Deny S</span>
                  </span>
                  <span class="course-content-text032">
                    <span>Desarrollador web</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/70c41807-d5e2-47a5-b970-8534e209e177?org_if_sml=12999"
      alt="image382761"
      class="course-content-image38"
    />
    <div class="course-content-div022">
      <div class="course-content-div023">
        <div class="course-content-div024">
          <div class="course-content-div025">
            <span class="course-content-text034"><span>18%</span></span>
            <span class="course-content-text036">
              <span>Del curso completado</span>
            </span>
          </div>
        </div>
        <div class="course-content-div026">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f8efa04c-9544-4016-ada9-ddf3c9a479af?org_if_sml=1144"
            alt="div1521"
            class="course-content-div027"
          />
        </div>
      </div>
      <div class="course-content-div028">
        <div class="course-content-div029">
          <div class="course-content-div030">
            <div class="course-content-div031">
              <div class="course-content-div032">
                <img
                  src="/assets/playground_assets/svg1521-wwc9.svg"
                  alt="svg1521"
                  class="course-content-svg06"
                />
                <span class="course-content-text038">1</span>
              </div>
              <div class="course-content-div033">
                <div class="course-content-div034">
                  <span class="course-content-text039">
                    <span>Conceptos</span>
                  </span>
                </div>
                <div class="course-content-div035">
                  <div class="course-content-div036">
                    <img
                      src="/assets/playground_assets/svg1521-92dk.svg"
                      alt="svg1521"
                      class="course-content-svg07"
                    />
                    <span class="course-content-text041">
                      <span>30 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div037">
                    <img
                      src="/assets/playground_assets/svg1521-692q.svg"
                      alt="svg1521"
                      class="course-content-svg08"
                    />
                    <span class="course-content-text043">
                      <span>3h4min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-dhwi.svg"
              alt="svg1521"
              class="course-content-svg09"
            />
          </div>
        </div>
        <div class="course-content-div038">
          <div class="course-content-div039">
            <div class="course-content-div040">
              <div class="course-content-div041">
                <img
                  src="/assets/playground_assets/svg1521-sf4a.svg"
                  alt="svg1521"
                  class="course-content-svg10"
                />
                <span class="course-content-text045">2</span>
              </div>
              <div class="course-content-div042">
                <div class="course-content-div043">
                  <span class="course-content-text046">
                    <span>IDE, archivos Java y sintaxis</span>
                  </span>
                </div>
                <div class="course-content-div044">
                  <div class="course-content-div045">
                    <img
                      src="/assets/playground_assets/svg1521-scn9.svg"
                      alt="svg1521"
                      class="course-content-svg11"
                    />
                    <span class="course-content-text048">
                      <span>15 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div046">
                    <img
                      src="/assets/playground_assets/svg1521-lrnl.svg"
                      alt="svg1521"
                      class="course-content-svg12"
                    />
                    <span class="course-content-text050">
                      <span>1h 20min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-xlc.svg"
              alt="svg1521"
              class="course-content-svg13"
            />
          </div>
        </div>
        <div class="course-content-div047">
          <div class="course-content-div048">
            <div class="course-content-div049">
              <div class="course-content-div050">
                <img
                  src="/assets/playground_assets/svg1521-c55m.svg"
                  alt="svg1521"
                  class="course-content-svg14"
                />
                <span class="course-content-text052">3</span>
              </div>
              <div class="course-content-div051">
                <div class="course-content-div052">
                  <span class="course-content-text053">
                    <span>Funciones</span>
                  </span>
                </div>
                <div class="course-content-div053">
                  <div class="course-content-div054">
                    <img
                      src="/assets/playground_assets/svg1521-sj6g.svg"
                      alt="svg1521"
                      class="course-content-svg15"
                    />
                    <span class="course-content-text055">
                      <span>13 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div055">
                    <img
                      src="/assets/playground_assets/svg1521-l2ey.svg"
                      alt="svg1521"
                      class="course-content-svg16"
                    />
                    <span class="course-content-text057">
                      <span>1h1min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-osuh.svg"
              alt="svg1521"
              class="course-content-svg17"
            />
          </div>
        </div>
        <div class="course-content-div056">
          <div class="course-content-div057">
            <div class="course-content-div058">
              <div class="course-content-div059">
                <img
                  src="/assets/playground_assets/svg1521-4q8n.svg"
                  alt="svg1521"
                  class="course-content-svg18"
                />
                <span class="course-content-text059">4</span>
              </div>
              <div class="course-content-div060">
                <div class="course-content-div061">
                  <span class="course-content-text060">
                    <span>Estructuras de control</span>
                  </span>
                </div>
                <div class="course-content-div062">
                  <div class="course-content-div063">
                    <img
                      src="/assets/playground_assets/svg1521-bw7.svg"
                      alt="svg1521"
                      class="course-content-svg19"
                    />
                    <span class="course-content-text062">
                      <span>12 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div064">
                    <img
                      src="/assets/playground_assets/svg1521-vkeq.svg"
                      alt="svg1521"
                      class="course-content-svg20"
                    />
                    <span class="course-content-text064">
                      <span>1h 22min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-kfa.svg"
              alt="svg1521"
              class="course-content-svg21"
            />
          </div>
        </div>
        <div class="course-content-div065">
          <div class="course-content-div066">
            <div class="course-content-div067">
              <div class="course-content-div068">
                <img
                  src="/assets/playground_assets/svg1521-oz5.svg"
                  alt="svg1521"
                  class="course-content-svg22"
                />
                <span class="course-content-text066">5</span>
              </div>
              <div class="course-content-div069">
                <div class="course-content-div070">
                  <span class="course-content-text067">
                    <span>
                      Clases, objetos, herencia
                      <span [innerHTML]="rawhz7y"></span>
                    </span>
                  </span>
                </div>
                <div class="course-content-div071">
                  <div class="course-content-div072">
                    <img
                      src="/assets/playground_assets/svg1521-u0os.svg"
                      alt="svg1521"
                      class="course-content-svg23"
                    />
                    <span class="course-content-text069">
                      <span>13 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div073">
                    <img
                      src="/assets/playground_assets/svg1521-w5iq.svg"
                      alt="svg1521"
                      class="course-content-svg24"
                    />
                    <span class="course-content-text071">
                      <span>1h 23min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-0x7w.svg"
              alt="svg1521"
              class="course-content-svg25"
            />
          </div>
        </div>
        <div class="course-content-div074">
          <div class="course-content-div075">
            <div class="course-content-div076">
              <div class="course-content-div077">
                <img
                  src="/assets/playground_assets/svg1521-lnmd.svg"
                  alt="svg1521"
                  class="course-content-svg26"
                />
                <span class="course-content-text073">6</span>
              </div>
              <div class="course-content-div078">
                <div class="course-content-div079">
                  <span class="course-content-text074">
                    <span>Interfaces</span>
                  </span>
                </div>
                <div class="course-content-div080">
                  <div class="course-content-div081">
                    <img
                      src="/assets/playground_assets/svg1521-65ri.svg"
                      alt="svg1521"
                      class="course-content-svg27"
                    />
                    <span class="course-content-text076">
                      <span>4 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div082">
                    <img
                      src="/assets/playground_assets/svg1521-t4jl.svg"
                      alt="svg1521"
                      class="course-content-svg28"
                    />
                    <span class="course-content-text078">
                      <span>1h7min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-i24y.svg"
              alt="svg1521"
              class="course-content-svg29"
            />
          </div>
        </div>
        <div class="course-content-div083">
          <div class="course-content-div084">
            <div class="course-content-div085">
              <div class="course-content-div086">
                <img
                  src="/assets/playground_assets/svg1521-12dc.svg"
                  alt="svg1521"
                  class="course-content-svg30"
                />
                <span class="course-content-text080">7</span>
              </div>
              <div class="course-content-div087">
                <div class="course-content-div088">
                  <span class="course-content-text081">
                    <span>Refactoring en Java</span>
                  </span>
                </div>
                <div class="course-content-div089">
                  <div class="course-content-div090">
                    <img
                      src="/assets/playground_assets/svg1521-was.svg"
                      alt="svg1521"
                      class="course-content-svg31"
                    />
                    <span class="course-content-text083">
                      <span>10 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div091">
                    <img
                      src="/assets/playground_assets/svg1521-gbet.svg"
                      alt="svg1521"
                      class="course-content-svg32"
                    />
                    <span class="course-content-text085">
                      <span>1h0min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/svg1521-h6nn.svg"
              alt="svg1521"
              class="course-content-svg33"
            />
          </div>
        </div>
        <div class="course-content-div092">
          <div class="course-content-div093">
            <div class="course-content-div094">
              <div class="course-content-div095">
                <span class="course-content-text087">8</span>
              </div>
              <div class="course-content-div096">
                <div class="course-content-div097">
                  <span class="course-content-text088">
                    <span>Tipo de datos avanzados</span>
                  </span>
                </div>
                <div class="course-content-div098">
                  <div class="course-content-div099">
                    <span class="course-content-text090">
                      <span>8 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div100">
                    <span class="course-content-text092">
                      <span>2h7min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="course-content-div101">
          <div class="course-content-div102">
            <div class="course-content-div103">
              <div class="course-content-div104">
                <span class="course-content-text094">9</span>
              </div>
              <div class="course-content-div105">
                <div class="course-content-div106">
                  <span class="course-content-text095">
                    <span>Manejo de errores</span>
                  </span>
                </div>
                <div class="course-content-div107">
                  <div class="course-content-div108">
                    <span class="course-content-text097">
                      <span>5 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div109">
                    <span class="course-content-text099">
                      <span>32min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="course-content-div110">
          <div class="course-content-div111">
            <div class="course-content-div112">
              <div class="course-content-div113">
                <span class="course-content-text101"><span>10</span></span>
              </div>
              <div class="course-content-div114">
                <div class="course-content-div115">
                  <span class="course-content-text103">
                    <span>Entrada/Salida</span>
                  </span>
                </div>
                <div class="course-content-div116">
                  <div class="course-content-div117">
                    <span class="course-content-text105">
                      <span>6 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div118">
                    <span class="course-content-text107">
                      <span>59min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="course-content-div119">
          <div class="course-content-div120">
            <div class="course-content-div121">
              <div class="course-content-div122">
                <span class="course-content-text109"><span>11</span></span>
              </div>
              <div class="course-content-div123">
                <div class="course-content-div124">
                  <span class="course-content-text111">
                    <span>Eventos, XML y JSON</span>
                  </span>
                </div>
                <div class="course-content-div125">
                  <div class="course-content-div126">
                    <span class="course-content-text113">
                      <span>14 lecciones</span>
                    </span>
                  </div>
                  <div class="course-content-div127">
                    <span class="course-content-text115">
                      <span>1h 18min</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
