<div class="social-media-container">
  <div class="social-media-redessociales">
    <div class="social-media-group60">
      <img
        src="/assets/playground_assets/rectangle241512-fh4.svg"
        alt="Rectangle241512"
        class="social-media-rectangle24"
      />
      <div class="social-media-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/10b85813-ceb1-4fc1-b2a2-425c83b60dc8?org_if_sml=1127"
          alt="RectangleCopyI151"
          class="social-media-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c796016c-160b-4c71-bbe4-4f899e363417?org_if_sml=1137"
          alt="RectangleCopy8I151"
          class="social-media-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/ee7340b5-b23f-4924-bb69-0babcd0dba10?org_if_sml=1134"
          alt="RectangleCopy7I151"
          class="social-media-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/5c6cee89-6971-49b7-853d-f85835c474e4?org_if_sml=1128"
          alt="RectangleCopy2I151"
          class="social-media-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/0a7231c5-79ae-4be7-b5ef-bd38598a5e8d?org_if_sml=1126"
          alt="RectangleCopy10I151"
          class="social-media-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/2c10c21d-e7a6-40e2-9ee2-b53a7394d7c8?org_if_sml=1142"
          alt="RectangleCopy9I151"
          class="social-media-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/218d2966-5e30-4e1e-9516-7aed151167a3?org_if_sml=1153"
          alt="RectangleCopy6I151"
          class="social-media-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/dadcaf3f-22de-4955-afd3-6b8d39d9bd23?org_if_sml=1154"
          alt="RectangleCopy5I151"
          class="social-media-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/01664a2f-eb3c-454f-bf09-686c781c051f?org_if_sml=1146"
          alt="RectangleCopy3I151"
          class="social-media-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/9c986aff-ab9f-4ae7-bde7-9bbce7968b84?org_if_sml=194"
        alt="Rectangle11512"
        class="social-media-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/e1fe94c4-ab63-4807-8ab4-25c6ecfd000e?org_if_sml=194"
        alt="Rectangle131512"
        class="social-media-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1512-dtex.svg"
          alt="Vector1512"
          class="social-media-vector"
        />
        <img
          src="/assets/playground_assets/vector1512-xpx8.svg"
          alt="Vector1512"
          class="social-media-vector01"
        />
      </div>
      <span class="social-media-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1512-bfbm.svg"
          alt="Vector1512"
          class="social-media-vector02"
        />
        <img
          src="/assets/playground_assets/vector1512-cy1q.svg"
          alt="Vector1512"
          class="social-media-vector03"
        />
      </div>
      <div class="social-media-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1512-gem.svg"
            alt="Vector1512"
            class="social-media-vector04"
          />
          <img
            src="/assets/playground_assets/vector1512-qb6.svg"
            alt="Vector1512"
            class="social-media-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6ba65956-c6ed-40d9-a6d7-2f00f018fbcd?org_if_sml=1147"
          alt="Ellipse51512"
          class="social-media-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/343a1c96-3e75-4ce3-8f53-ae09cb3a81ad?org_if_sml=1524"
        alt="Rectangle251512"
        class="social-media-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271512-3ud3.svg"
        alt="Rectangle271512"
        class="social-media-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/aa3a62d3-bbe0-4547-abd3-703916c78a7a?org_if_sml=1502"
        alt="Rectangle261512"
        class="social-media-rectangle26"
      />
      <div class="social-media-group51">
        <div class="social-media-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/ea9aa353-5a11-41a0-ac9c-49845895ff4c?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1512"
            class="social-media-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="social-media-group56">
        <img
          src="/assets/playground_assets/vector1512-a6fw.svg"
          alt="Vector1512"
          class="social-media-vector06"
        />
      </div>
      <div class="social-media-group54">
        <img
          src="/assets/playground_assets/vector1512-1v3w.svg"
          alt="Vector1512"
          class="social-media-vector07"
        />
      </div>
      <div class="social-media-group53">
        <img
          src="/assets/playground_assets/vector1512-g35.svg"
          alt="Vector1512"
          class="social-media-vector08"
        />
      </div>
      <div class="social-media-group52">
        <img
          src="/assets/playground_assets/vector1512-2e0u.svg"
          alt="Vector1512"
          class="social-media-vector09"
        />
      </div>
      <div class="social-media-group58">
        <img
          src="/assets/playground_assets/vector1512-7afd.svg"
          alt="Vector1512"
          class="social-media-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1512-fzsb.svg"
        alt="Vector1512"
        class="social-media-vector11"
      />
    </div>
    <div class="social-media-logo3">
      <div class="social-media-clippathgroup">
        <div class="social-media-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1512-krpg.svg"
            alt="Vector1512"
            class="social-media-vector12"
          />
        </div>
        <div class="social-media-group">
          <img
            src="/assets/playground_assets/vector1512-wmm.svg"
            alt="Vector1512"
            class="social-media-vector13"
          />
        </div>
      </div>
      <div class="social-media-clippathgroup1">
        <div class="social-media-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1512-0pgm.svg"
            alt="Vector1512"
            class="social-media-vector14"
          />
        </div>
        <div class="social-media-group01">
          <div class="social-media-clippathgroup2">
            <div class="social-media-frame572541114f">
              <img
                src="/assets/playground_assets/vector1512-qxi.svg"
                alt="Vector1512"
                class="social-media-vector15"
              />
            </div>
            <div class="social-media-group02">
              <img
                src="/assets/playground_assets/vector1512-a1w8.svg"
                alt="Vector1512"
                class="social-media-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="social-media-clippathgroup3">
        <div class="social-media-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1512-nnmr.svg"
            alt="Vector1512"
            class="social-media-vector17"
          />
        </div>
        <div class="social-media-group03">
          <div class="social-media-clippathgroup4">
            <div class="social-media-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1512-kw9h.svg"
                alt="Vector1512"
                class="social-media-vector18"
              />
            </div>
            <div class="social-media-group04">
              <img
                src="/assets/playground_assets/vector1512-gjl.svg"
                alt="Vector1512"
                class="social-media-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="social-media-group05">
        <div class="social-media-group06">
          <div class="social-media-group07">
            <img
              src="/assets/playground_assets/vector1512-t52j.svg"
              alt="Vector1512"
              class="social-media-vector20"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group08">
        <div class="social-media-group09">
          <div class="social-media-group10">
            <img
              src="/assets/playground_assets/vector1513-7rtx.svg"
              alt="Vector1513"
              class="social-media-vector21"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group11">
        <div class="social-media-group12">
          <div class="social-media-group13">
            <img
              src="/assets/playground_assets/vector1513-i95q.svg"
              alt="Vector1513"
              class="social-media-vector22"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group14">
        <div class="social-media-group15">
          <div class="social-media-group16">
            <img
              src="/assets/playground_assets/vector1513-znf.svg"
              alt="Vector1513"
              class="social-media-vector23"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group17">
        <div class="social-media-group18">
          <div class="social-media-group19">
            <img
              src="/assets/playground_assets/vector1513-erxm.svg"
              alt="Vector1513"
              class="social-media-vector24"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group20">
        <div class="social-media-group21">
          <div class="social-media-group22">
            <img
              src="/assets/playground_assets/vector1513-ssjr.svg"
              alt="Vector1513"
              class="social-media-vector25"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group23">
        <div class="social-media-group24">
          <div class="social-media-group25">
            <img
              src="/assets/playground_assets/vector1513-8n8k.svg"
              alt="Vector1513"
              class="social-media-vector26"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group26">
        <div class="social-media-group27">
          <div class="social-media-group28">
            <img
              src="/assets/playground_assets/vector1513-0fei.svg"
              alt="Vector1513"
              class="social-media-vector27"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group29">
        <div class="social-media-group30">
          <div class="social-media-group31">
            <img
              src="/assets/playground_assets/vector1513-t4os.svg"
              alt="Vector1513"
              class="social-media-vector28"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group32">
        <div class="social-media-group33">
          <div class="social-media-group34">
            <img
              src="/assets/playground_assets/vector1513-8n1.svg"
              alt="Vector1513"
              class="social-media-vector29"
            />
          </div>
        </div>
      </div>
      <div class="social-media-group35">
        <div class="social-media-group36">
          <div class="social-media-group37">
            <img
              src="/assets/playground_assets/vector1513-mjfl.svg"
              alt="Vector1513"
              class="social-media-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="social-media-div">
      <div class="social-media-div01">
        <div class="social-media-div02">
          <span class="social-media-text02"><span>Duvan Marin</span></span>
          <span class="social-media-text04">
            <span>Modifica los datos relacionados con tu perfil</span>
          </span>
        </div>
        <div class="social-media-group50">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/447caa2c-16be-4ccb-a42a-958046dff682?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1513"
            class="social-media-unsplash-jmf--nc-l24m1"
          />
        </div>
      </div>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8360efce-106a-4f18-b474-d4490819a719?org_if_sml=1115"
      alt="div1513"
      class="social-media-div03"
    />
    <div class="social-media-div04">
      <div class="social-media-div05">
        <div class="social-media-div06">
          <img
            src="/assets/playground_assets/svg1513-ak2f.svg"
            alt="svg1513"
            class="social-media-svg"
          />
          <span class="social-media-text06"
            ><span><a href="/profile">Perfil</a> </span></span
          >
        </div>
        <div class="social-media-div07">
          <div class="social-media-div08">
            <img
              src="/assets/playground_assets/svg1513-blqj.svg"
              alt="svg1513"
              class="social-media-svg1"
            />
          </div>
          <span class="social-media-text08"
            ><span><a href="/social-media">Redes sociales</a> </span></span
          >
        </div>
        <div class="social-media-div09">
          <div class="social-media-div10">
            <img
              src="/assets/playground_assets/svg1513-01mi.svg"
              alt="svg1513"
              class="social-media-svg2"
            />
          </div>
          <span class="social-media-text10"
            ><span><a href="/privacy">Privacidad</a> </span></span
          >
        </div>
        <div class="social-media-div11">
          <div class="social-media-div12">
            <img
              src="/assets/playground_assets/svg1513-ox6.svg"
              alt="svg1513"
              class="social-media-svg3"
            />
          </div>
          <span class="social-media-text12"
            ><span><a href="/payment-methods">Metodos de pago</a> </span></span
          >
        </div>
        <div class="social-media-div13">
          <img
            src="/assets/playground_assets/svg1513-eavm.svg"
            alt="svg1513"
            class="social-media-svg4"
          />
          <span class="social-media-text14"
            ><span><a href="/more">Contactanos</a> </span></span
          >
        </div>
      </div>
      <div class="social-media-div14">
        <div class="social-media-div15">
          <div class="social-media-div16">
            <span class="social-media-text16">
              <span>Correo electrónico</span>
            </span>
            <input
              type="text"
              placeholder="duvanmaringes@gmail.com"
              class="social-media-input"
            />
          </div>
        </div>
        <div class="social-media-div17">
          <div class="social-media-div18">
            <span class="social-media-text18"><span>LinkedIn</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/886f2e26-e709-4d8c-8322-ee2dc17520a3?org_if_sml=1237"
              alt="div1514"
              class="social-media-div19"
            />
          </div>
          <input
            type="text"
            placeholder="https://www.linkedin.com/in/usuario"
            class="social-media-input1"
          />
        </div>
        <div class="social-media-div20">
          <div class="social-media-div21">
            <span class="social-media-text20"><span>Facebook</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8585df02-bd22-43a4-a358-3e99b903119d?org_if_sml=1271"
              alt="div1514"
              class="social-media-div22"
            />
          </div>
          <input
            type="text"
            placeholder="https://www.facebook.com/usuario"
            class="social-media-input2"
          />
        </div>
        <div class="social-media-div23">
          <div class="social-media-div24">
            <span class="social-media-text22"><span>Twitter</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/873ca7d4-becf-456f-afa4-3609cffc4660?org_if_sml=1237"
              alt="div1514"
              class="social-media-div25"
            />
          </div>
          <input
            type="text"
            placeholder="https://www.twitter.com/usuario"
            class="social-media-input3"
          />
        </div>
      </div>
    </div>
    <div class="social-media-httpscampusopenbootcampcomperfilperfil">
      <button class="social-media-button">
        <span class="social-media-text24"><span>Guardar cambios</span></span>
      </button>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/a8af5f6c-347a-4711-bcd6-33c0c556043b?org_if_sml=16096"
      alt="image382761"
      class="social-media-image38"
    />
  </div>
</div>
