<div class="course-view-container">
  <div class="course-view-cursoview">
    <div class="course-view-group60">
      <img
        src="/assets/playground_assets/rectangle241601-l6q2.svg"
        alt="Rectangle241601"
        class="course-view-rectangle24"
      />
    </div>
    <div class="course-view-div">
      <div class="course-view-div01">
        <img
          src="/assets/playground_assets/svg1606-yq8.svg"
          alt="svg1606"
          class="course-view-svg"
        />
        <button class="course-view-button">
          <img
            src="/assets/playground_assets/svg1606-4psd.svg"
            alt="svg1606"
            class="course-view-svg1"
          />
          <span class="course-view-text"
            ><span><a href="/course-content">Salir del curso</a> </span></span
          >
        </button>
      </div>
      <div class="course-view-div02">
        <span class="course-view-text02">
          <span>Curso de Java Básico</span>
        </span>
        <div class="course-view-div03">
          <span class="course-view-text04"><span>18%</span></span>
          <div class="course-view-div04">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8d984f96-5cc3-4d56-bb9b-304ec835f9ba?org_if_sml=1128"
              alt="div1606"
              class="course-view-div05"
            />
          </div>
        </div>
      </div>
      <div class="course-view-div06">
        <button class="course-view-button1">
          <img
            src="/assets/playground_assets/svg1606-530x.svg"
            alt="svg1606"
            class="course-view-svg2"
          />
          <span class="course-view-text06"><span>Ver notas</span></span>
        </button>
      </div>
    </div>
    <div class="course-view-div07">
      <div class="course-view-div08">
        <div class="course-view-div09">
          <div class="course-view-div10">
            <span class="course-view-text08"><span>Arrays</span></span>
          </div>
          <div class="course-view-div11">
            <div class="course-view-div12">
              <img
                src="/assets/playground_assets/svg1606-3kal.svg"
                alt="svg1606"
                class="course-view-svg3"
              />
              <span class="course-view-text10"><span>Vídeo</span></span>
            </div>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/04665e71-ab0a-4313-b9e0-3a8876b2083e?org_if_sml=1116"
              alt="div1606"
              class="course-view-div13"
            />
            <div class="course-view-div14">
              <img
                src="/assets/playground_assets/svg1606-tqwc.svg"
                alt="svg1606"
                class="course-view-svg4"
              />
              <span class="course-view-text12">
                <span>25 min de duración aprox.</span>
              </span>
            </div>
          </div>
          <video class="video" width="1100" height="500" controls>
            <source src="../../../assets/videos/arrays.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <img
        src="/assets/playground_assets/svg1606-gz5d.svg"
        alt="svg1606"
        class="course-view-svg5"
      />
    </div>
    <div class="course-view-div15">
      <button class="course-view-button2">
        <img
          src="/assets/playground_assets/svg1607-aza.svg"
          alt="svg1607"
          class="course-view-svg6"
        />
        <span class="course-view-text14"><span>Lección anterior</span></span>
      </button>
      <button class="course-view-button3">
        <div class="course-view-div16">
          <span class="course-view-text16"><span>Completar Lección</span></span>
          <img
            src="/assets/playground_assets/svg1607-nn0c.svg"
            alt="svg1607"
            class="course-view-svg7"
          />
        </div>
      </button>
    </div>
  </div>
</div>
