<div class="sign-up2-container">
  <div class="sign-up2-sign-up2">
    <div class="sign-up2-group60"></div>
    <div class="sign-up2-div">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6257ec00-a65e-48b5-8782-883235f07b99?org_if_sml=14491"
        alt="image382761"
        class="sign-up2-image38"
      />
      <div class="sign-up2-logo2">
        <div class="sign-up2-clippathgroup">
          <div class="sign-up2-a6025dffaf">
            <img
              src="/assets/playground_assets/vector1179-kcau.svg"
              alt="Vector1179"
              class="sign-up2-vector"
            />
          </div>
          <div class="sign-up2-group">
            <img
              src="/assets/playground_assets/vector1179-1ezs.svg"
              alt="Vector1179"
              class="sign-up2-vector01"
            />
          </div>
        </div>
        <div class="sign-up2-clippathgroup1">
          <div class="sign-up2-c2c9b04989">
            <img
              src="/assets/playground_assets/vector1179-r9k3.svg"
              alt="Vector1179"
              class="sign-up2-vector02"
            />
          </div>
          <div class="sign-up2-group01">
            <div class="sign-up2-clippathgroup2">
              <div class="sign-up2-frame572541114f">
                <img
                  src="/assets/playground_assets/vector1179-yioc.svg"
                  alt="Vector1179"
                  class="sign-up2-vector03"
                />
              </div>
              <div class="sign-up2-group02">
                <img
                  src="/assets/playground_assets/vector1179-z9s.svg"
                  alt="Vector1179"
                  class="sign-up2-vector04"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up2-clippathgroup3">
          <div class="sign-up2-frame012ccbaa80">
            <img
              src="/assets/playground_assets/vector1179-g575.svg"
              alt="Vector1179"
              class="sign-up2-vector05"
            />
          </div>
          <div class="sign-up2-group03">
            <div class="sign-up2-clippathgroup4">
              <div class="sign-up2-frame1361bfee97">
                <img
                  src="/assets/playground_assets/vector1179-xo7.svg"
                  alt="Vector1179"
                  class="sign-up2-vector06"
                />
              </div>
              <div class="sign-up2-group04">
                <img
                  src="/assets/playground_assets/vector1179-djp4.svg"
                  alt="Vector1179"
                  class="sign-up2-vector07"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up2-group05">
          <div class="sign-up2-group06">
            <div class="sign-up2-group07">
              <img
                src="/assets/playground_assets/vector1171-kpbh.svg"
                alt="Vector1171"
                class="sign-up2-vector08"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group08">
          <div class="sign-up2-group09">
            <div class="sign-up2-group10">
              <img
                src="/assets/playground_assets/vector1171-dt3.svg"
                alt="Vector1171"
                class="sign-up2-vector09"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group11">
          <div class="sign-up2-group12">
            <div class="sign-up2-group13">
              <img
                src="/assets/playground_assets/vector1171-ty0s.svg"
                alt="Vector1171"
                class="sign-up2-vector10"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group14">
          <div class="sign-up2-group15">
            <div class="sign-up2-group16">
              <img
                src="/assets/playground_assets/vector1171-pib8.svg"
                alt="Vector1171"
                class="sign-up2-vector11"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group17">
          <div class="sign-up2-group18">
            <div class="sign-up2-group19">
              <img
                src="/assets/playground_assets/vector1171-adoi.svg"
                alt="Vector1171"
                class="sign-up2-vector12"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group20">
          <div class="sign-up2-group21">
            <div class="sign-up2-group22">
              <img
                src="/assets/playground_assets/vector1171-dnb.svg"
                alt="Vector1171"
                class="sign-up2-vector13"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group23">
          <div class="sign-up2-group24">
            <div class="sign-up2-group25">
              <img
                src="/assets/playground_assets/vector1171-fagl.svg"
                alt="Vector1171"
                class="sign-up2-vector14"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group26">
          <div class="sign-up2-group27">
            <div class="sign-up2-group28">
              <img
                src="/assets/playground_assets/vector1171-umso.svg"
                alt="Vector1171"
                class="sign-up2-vector15"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group29">
          <div class="sign-up2-group30">
            <div class="sign-up2-group31">
              <img
                src="/assets/playground_assets/vector1171-7e59.svg"
                alt="Vector1171"
                class="sign-up2-vector16"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group32">
          <div class="sign-up2-group33">
            <div class="sign-up2-group34">
              <img
                src="/assets/playground_assets/vector1171-7gm8.svg"
                alt="Vector1171"
                class="sign-up2-vector17"
              />
            </div>
          </div>
        </div>
        <div class="sign-up2-group35">
          <div class="sign-up2-group36">
            <div class="sign-up2-group37">
              <img
                src="/assets/playground_assets/vector1171-uciq.svg"
                alt="Vector1171"
                class="sign-up2-vector18"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="sign-up2-div01">
        <div class="sign-up2-div02"><span class="sign-up2-text">1</span></div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/823dc952-8d98-47e6-a28e-6d0ae2c8f9a2?org_if_sml=1113"
          alt="div1171"
          class="sign-up2-div03"
        />
        <div class="sign-up2-div04"><span class="sign-up2-text01">2</span></div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/779598c0-78f6-4c2a-92f9-be0ad49d9bcf?org_if_sml=1113"
          alt="div1171"
          class="sign-up2-div05"
        />
        <div class="sign-up2-div06"><span class="sign-up2-text02">3</span></div>
      </div>
      <div class="sign-up2-div07">
        <span class="sign-up2-text03"><span>Elije tus credenciales</span></span>
      </div>
      <div class="sign-up2-div08">
        <div class="sign-up2-div09">
          <div class="sign-up2-div10">
            <span class="sign-up2-text05"><span>Nombre de usuario:</span></span>
            <div class="sign-up2-input">
              <div class="sign-up2-divplaceholder">
                <input type="text" placeholder="Ej. Duvan3523" />
              </div>
            </div>
          </div>
          <div class="sign-up2-div11">
            <span class="sign-up2-text09"><span>Contraseña</span></span>
            <div class="sign-up2-input1">
              <div class="sign-up2-divplaceholder1">
                <input type="password" placeholder="Minimo 8 Carácteres" />
              </div>
            </div>
          </div>
          <div class="sign-up2-div12">
            <span class="sign-up2-text12">
              <span>Repite la contraseña</span>
            </span>
            <div class="sign-up2-input2">
              <div class="sign-up2-divplaceholder2">
                <input type="password" placeholder="Minimo 8 Carácteres" />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up2-div13">
          <a href="/sign-up" class="sign-up2-buttonregisterpreviousbutton">
            <img
              src="/assets/playground_assets/svg1171-to7fa.svg"
              alt="svg1171"
              class="sign-up2-svg"
            />
            <span class="sign-up2-text14"><span>Volver</span></span>
          </a>
          <a href="/sign-up3" class="sign-up2-buttonregisternextbutton">
            <span class="sign-up2-text16"><span>Siguiente paso</span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
