<div class="sign-up3-container">
  <div class="sign-up3-sign-up3">
    <div class="sign-up3-group60"></div>
    <div class="sign-up3-group61"></div>
    <div class="sign-up3-div">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/7b892c08-4c42-410b-abfb-3f51f9fb8134?org_if_sml=14454"
        alt="image382761"
        class="sign-up3-image38"
      />
      <div class="sign-up3-logo2">
        <div class="sign-up3-clippathgroup">
          <div class="sign-up3-a6025dffaf">
            <img
              src="/assets/playground_assets/vector1171-a7f.svg"
              alt="Vector1171"
              class="sign-up3-vector"
            />
          </div>
          <div class="sign-up3-group">
            <img
              src="/assets/playground_assets/vector1171-utm.svg"
              alt="Vector1171"
              class="sign-up3-vector01"
            />
          </div>
        </div>
        <div class="sign-up3-clippathgroup1">
          <div class="sign-up3-c2c9b04989">
            <img
              src="/assets/playground_assets/vector1171-h83k.svg"
              alt="Vector1171"
              class="sign-up3-vector02"
            />
          </div>
          <div class="sign-up3-group01">
            <div class="sign-up3-clippathgroup2">
              <div class="sign-up3-frame572541114f">
                <img
                  src="/assets/playground_assets/vector1171-55w.svg"
                  alt="Vector1171"
                  class="sign-up3-vector03"
                />
              </div>
              <div class="sign-up3-group02">
                <img
                  src="/assets/playground_assets/vector1171-2x4q.svg"
                  alt="Vector1171"
                  class="sign-up3-vector04"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up3-clippathgroup3">
          <div class="sign-up3-frame012ccbaa80">
            <img
              src="/assets/playground_assets/vector1171-pgon.svg"
              alt="Vector1171"
              class="sign-up3-vector05"
            />
          </div>
          <div class="sign-up3-group03">
            <div class="sign-up3-clippathgroup4">
              <div class="sign-up3-frame1361bfee97">
                <img
                  src="/assets/playground_assets/vector1171-dpud.svg"
                  alt="Vector1171"
                  class="sign-up3-vector06"
                />
              </div>
              <div class="sign-up3-group04">
                <img
                  src="/assets/playground_assets/vector1171-sek.svg"
                  alt="Vector1171"
                  class="sign-up3-vector07"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up3-group05">
          <div class="sign-up3-group06">
            <div class="sign-up3-group07">
              <img
                src="/assets/playground_assets/vector1171-tlja.svg"
                alt="Vector1171"
                class="sign-up3-vector08"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group08">
          <div class="sign-up3-group09">
            <div class="sign-up3-group10">
              <img
                src="/assets/playground_assets/vector1171-qzud.svg"
                alt="Vector1171"
                class="sign-up3-vector09"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group11">
          <div class="sign-up3-group12">
            <div class="sign-up3-group13">
              <img
                src="/assets/playground_assets/vector1171-go35.svg"
                alt="Vector1171"
                class="sign-up3-vector10"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group14">
          <div class="sign-up3-group15">
            <div class="sign-up3-group16">
              <img
                src="/assets/playground_assets/vector1171-ahnd.svg"
                alt="Vector1171"
                class="sign-up3-vector11"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group17">
          <div class="sign-up3-group18">
            <div class="sign-up3-group19">
              <img
                src="/assets/playground_assets/vector1171-9e8i.svg"
                alt="Vector1171"
                class="sign-up3-vector12"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group20">
          <div class="sign-up3-group21">
            <div class="sign-up3-group22">
              <img
                src="/assets/playground_assets/vector1171-qf3n.svg"
                alt="Vector1171"
                class="sign-up3-vector13"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group23">
          <div class="sign-up3-group24">
            <div class="sign-up3-group25">
              <img
                src="/assets/playground_assets/vector1171-gbzi.svg"
                alt="Vector1171"
                class="sign-up3-vector14"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group26">
          <div class="sign-up3-group27">
            <div>
              <img
                src="/assets/playground_assets/vector1171-eluh.svg"
                alt="Vector1171"
                class="sign-up3-vector15"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group29">
          <div class="sign-up3-group30">
            <div class="sign-up3-group31">
              <img
                src="/assets/playground_assets/vector1171-ag2b.svg"
                alt="Vector1171"
                class="sign-up3-vector16"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group32">
          <div class="sign-up3-group33">
            <div class="sign-up3-group34">
              <img
                src="/assets/playground_assets/vector1171-glqd.svg"
                alt="Vector1171"
                class="sign-up3-vector17"
              />
            </div>
          </div>
        </div>
        <div class="sign-up3-group35">
          <div class="sign-up3-group36">
            <div class="sign-up3-group37">
              <img
                src="/assets/playground_assets/vector1171-pte9.svg"
                alt="Vector1171"
                class="sign-up3-vector18"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="sign-up3-div1">
        <div class="sign-up3-div2"><span class="sign-up3-text">1</span></div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/45f0a4df-7d59-4af6-a626-1132ac28dc61?org_if_sml=1113"
          alt="div1171"
          class="sign-up3-div3"
        />
        <div class="sign-up3-div4"><span class="sign-up3-text1">2</span></div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/ab6c6696-aa71-4828-93ec-472c89968656?org_if_sml=1113"
          alt="div1171"
          class="sign-up3-div5"
        />
        <div class="sign-up3-div6"><span class="sign-up3-text2">3</span></div>
      </div>
      <div class="sign-up3-div7">
        <span class="sign-up3-text3">
          <span>Eres estudiante o profesor?</span>
        </span>
      </div>
      <div class="sign-up3-group28">
        <input type="radio" name="image" id="image1" class="sign-up3-radio" />
        <label for="image1" class="sign-up3-label">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1834c6c1-a217-4ab9-a5d2-37bc77891f8b?org_if_sml=124320"
            alt="Rectangle51171"
            class="sign-up3-rectangle5"
          />
        </label>

        <input type="radio" name="image" id="image2" class="sign-up3-radio" />
        <label for="image2" class="sign-up3-label">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/3c73b52e-4a08-42be-a732-c35d07e427d9?org_if_sml=123788"
            alt="Rectangle51171"
            class="sign-up3-rectangle51"
          />
        </label>
      </div>

      <div class="sign-up3-div8">
        <a href="/sign-up2" class="sign-up3-buttonregisterpreviousbutton">
          <img
            src="/assets/playground_assets/svg1171-twgf.svg"
            alt="svg1171"
            class="sign-up3-svg"
          />
          <span class="sign-up3-text5"><span>Volver</span></span>
        </a>
        <a href="/login" class="sign-up3-buttonregisternextbutton">
          <span class="sign-up3-text7"><span>Siguiente paso</span></span>
        </a>
      </div>
    </div>
  </div>
</div>
