<div class="security-container">
  <div class="security-seguridad">
    <div class="security-group60">
      <img
        src="/assets/playground_assets/rectangle241427-eyiu.svg"
        alt="Rectangle241427"
        class="security-rectangle24"
      />
      <div class="security-settings">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/a5f42d56-5957-493e-8d2d-b4e5975cd773?org_if_sml=1127"
          alt="RectangleCopyI142"
          class="security-rectangle-copy"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/473ba99d-111f-438e-a8aa-010c1eda1f22?org_if_sml=1137"
          alt="RectangleCopy8I142"
          class="security-rectangle-copy8"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/16b1ab6d-2b05-4971-ac08-068bda5bc188?org_if_sml=1134"
          alt="RectangleCopy7I142"
          class="security-rectangle-copy7"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/9fd01278-2eef-4f35-9fc0-ea365559b61f?org_if_sml=1128"
          alt="RectangleCopy2I142"
          class="security-rectangle-copy2"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/0a56918a-81de-4b69-abb2-c9d406e1ff5f?org_if_sml=1126"
          alt="RectangleCopy10I142"
          class="security-rectangle-copy10"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/1313ef7b-454a-4b8a-bd38-20ca3c8b777e?org_if_sml=1142"
          alt="RectangleCopy9I142"
          class="security-rectangle-copy9"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/5ba98e1b-549e-4053-bbb3-015ddcec10dd?org_if_sml=1153"
          alt="RectangleCopy6I142"
          class="security-rectangle-copy6"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6b551e33-627c-4a5d-949c-8073baced6fc?org_if_sml=1154"
          alt="RectangleCopy5I142"
          class="security-rectangle-copy5"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/8f4d85aa-d38b-49c9-ac55-afdbe6ce8d08?org_if_sml=1146"
          alt="RectangleCopy3I142"
          class="security-rectangle-copy3"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/89a3ab9f-7877-42bf-97f9-6db241bcf836?org_if_sml=194"
        alt="Rectangle11427"
        class="security-rectangle1"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/33dc3593-83bc-4bba-aab8-e1a368bf19c5?org_if_sml=194"
        alt="Rectangle131427"
        class="security-rectangle13"
      />
      <div>
        <img
          src="/assets/playground_assets/vector1427-s39y.svg"
          alt="Vector1427"
          class="security-vector"
        />
        <img
          src="/assets/playground_assets/vector1427-dplp.svg"
          alt="Vector1427"
          class="security-vector01"
        />
      </div>
      <span class="security-text"><span>Buscar</span></span>
      <div>
        <img
          src="/assets/playground_assets/vector1427-g09c.svg"
          alt="Vector1427"
          class="security-vector02"
        />
        <img
          src="/assets/playground_assets/vector1427-qolh.svg"
          alt="Vector1427"
          class="security-vector03"
        />
      </div>
      <div class="security-group48">
        <div>
          <img
            src="/assets/playground_assets/vector1427-u2vaj.svg"
            alt="Vector1427"
            class="security-vector04"
          />
          <img
            src="/assets/playground_assets/vector1427-1hhi.svg"
            alt="Vector1427"
            class="security-vector05"
          />
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/bd50a998-38b3-4ef6-9222-accfbef93f7b?org_if_sml=1147"
          alt="Ellipse51427"
          class="security-ellipse5"
        />
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/4b943ce9-d57f-4050-a311-e6b8fc279189?org_if_sml=1524"
        alt="Rectangle251427"
        class="security-rectangle25"
      />
      <img
        src="/assets/playground_assets/rectangle271427-9hx.svg"
        alt="Rectangle271427"
        class="security-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/c7b82010-ccf1-4208-af5f-b32a89397d5d?org_if_sml=1502"
        alt="Rectangle261427"
        class="security-rectangle26"
      />
      <div class="security-group51">
        <div class="security-group49">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/b63a2625-2626-4e8f-bccc-47ffcf8bc10b?org_if_sml=1785"
            alt="unsplash3JmfENcL24M1427"
            class="security-unsplash-jmf--nc-l24m"
          />
        </div>
      </div>
      <div class="security-group56">
        <img
          src="/assets/playground_assets/vector1428-53xc.svg"
          alt="Vector1428"
          class="security-vector06"
        />
      </div>
      <div class="security-group54">
        <img
          src="/assets/playground_assets/vector1428-2j7l.svg"
          alt="Vector1428"
          class="security-vector07"
        />
      </div>
      <div class="security-group53">
        <img
          src="/assets/playground_assets/vector1428-nu2b.svg"
          alt="Vector1428"
          class="security-vector08"
        />
      </div>
      <div class="security-group52">
        <img
          src="/assets/playground_assets/vector1428-xf9f.svg"
          alt="Vector1428"
          class="security-vector09"
        />
      </div>
      <div class="security-group58">
        <img
          src="/assets/playground_assets/vector1428-rtg.svg"
          alt="Vector1428"
          class="security-vector10"
        />
      </div>
      <img
        src="/assets/playground_assets/vector1428-0njb.svg"
        alt="Vector1428"
        class="security-vector11"
      />
    </div>
    <div class="security-logo3">
      <div class="security-clippathgroup">
        <div class="security-a6025dffaf">
          <img
            src="/assets/playground_assets/vector1428-b3rb.svg"
            alt="Vector1428"
            class="security-vector12"
          />
        </div>
        <div class="security-group">
          <img
            src="/assets/playground_assets/vector1428-6oo.svg"
            alt="Vector1428"
            class="security-vector13"
          />
        </div>
      </div>
      <div class="security-clippathgroup1">
        <div class="security-c2c9b04989">
          <img
            src="/assets/playground_assets/vector1428-bt1d.svg"
            alt="Vector1428"
            class="security-vector14"
          />
        </div>
        <div class="security-group01">
          <div class="security-clippathgroup2">
            <div class="security-frame572541114f">
              <img
                src="/assets/playground_assets/vector1428-uo39.svg"
                alt="Vector1428"
                class="security-vector15"
              />
            </div>
            <div class="security-group02">
              <img
                src="/assets/playground_assets/vector1428-o0n.svg"
                alt="Vector1428"
                class="security-vector16"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="security-clippathgroup3">
        <div class="security-frame012ccbaa80">
          <img
            src="/assets/playground_assets/vector1428-z78m.svg"
            alt="Vector1428"
            class="security-vector17"
          />
        </div>
        <div class="security-group03">
          <div class="security-clippathgroup4">
            <div class="security-frame1361bfee97">
              <img
                src="/assets/playground_assets/vector1428-wmhl.svg"
                alt="Vector1428"
                class="security-vector18"
              />
            </div>
            <div class="security-group04">
              <img
                src="/assets/playground_assets/vector1428-fuvi.svg"
                alt="Vector1428"
                class="security-vector19"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="security-group05">
        <div class="security-group06">
          <div class="security-group07">
            <img
              src="/assets/playground_assets/vector1428-gnl.svg"
              alt="Vector1428"
              class="security-vector20"
            />
          </div>
        </div>
      </div>
      <div class="security-group08">
        <div class="security-group09">
          <div class="security-group10">
            <img
              src="/assets/playground_assets/vector1428-xley.svg"
              alt="Vector1428"
              class="security-vector21"
            />
          </div>
        </div>
      </div>
      <div class="security-group11">
        <div class="security-group12">
          <div class="security-group13">
            <img
              src="/assets/playground_assets/vector1428-apmn.svg"
              alt="Vector1428"
              class="security-vector22"
            />
          </div>
        </div>
      </div>
      <div class="security-group14">
        <div class="security-group15">
          <div>
            <img
              src="/assets/playground_assets/vector1428-94md.svg"
              alt="Vector1428"
              class="security-vector23"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="security-group18">
          <div class="security-group19">
            <img
              src="/assets/playground_assets/vector1428-6mx7.svg"
              alt="Vector1428"
              class="security-vector24"
            />
          </div>
        </div>
      </div>
      <div class="security-group20">
        <div class="security-group21">
          <div class="security-group22">
            <img
              src="/assets/playground_assets/vector1428-lvwb.svg"
              alt="Vector1428"
              class="security-vector25"
            />
          </div>
        </div>
      </div>
      <div class="security-group23">
        <div class="security-group24">
          <div class="security-group25">
            <img
              src="/assets/playground_assets/vector1428-dbtl.svg"
              alt="Vector1428"
              class="security-vector26"
            />
          </div>
        </div>
      </div>
      <div class="security-group26">
        <div class="security-group27">
          <div class="security-group28">
            <img
              src="/assets/playground_assets/vector1428-lvrd.svg"
              alt="Vector1428"
              class="security-vector27"
            />
          </div>
        </div>
      </div>
      <div class="security-group29">
        <div class="security-group30">
          <div class="security-group31">
            <img
              src="/assets/playground_assets/vector1428-y8h.svg"
              alt="Vector1428"
              class="security-vector28"
            />
          </div>
        </div>
      </div>
      <div class="security-group32">
        <div class="security-group33">
          <div class="security-group34">
            <img
              src="/assets/playground_assets/vector1428-8da6.svg"
              alt="Vector1428"
              class="security-vector29"
            />
          </div>
        </div>
      </div>
      <div class="security-group35">
        <div class="security-group36">
          <div class="security-group37">
            <img
              src="/assets/playground_assets/vector1428-06df.svg"
              alt="Vector1428"
              class="security-vector30"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="security-group82">
      <div class="security-group16">
        <span class="security-text02"><span>Welcome,</span></span>
        <span class="security-text04"><span>Duvan Marin</span></span>
      </div>
    </div>
    <span class="security-text06"><span>Información de seguridad</span></span>
    <span class="security-text08">
      <span>
        Estos son los métodos que usa para iniciar sesión en su cuenta o
        establecer contraseña
        <span [innerHTML]="rawgxpn"></span>
      </span>
    </span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/f74f9c2f-1cd3-488f-ba62-7e8c8f99adf7?org_if_sml=1509"
      alt="Rectangle301421"
      class="security-rectangle30"
    />
    <span class="security-text10">
      <span>Metodos de inicio de sesión</span>
    </span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/71fbbebf-907a-473e-b503-a77b6ad2344f?org_if_sml=1508"
      alt="Rectangle301421"
      class="security-rectangle301"
    />
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/a6b1c5bc-223c-4329-bcff-ee111d5e8935?org_if_sml=12408"
      alt="descarga21153"
      class="security-descarga2"
    />
    <span class="security-text12"><span>Telefono</span></span>
    <span class="security-text14"><span>3112246845</span></span>
    <span class="security-text16"><span>Modificar / eliminar</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/6c32af47-2cd3-4d4c-90ba-1c7a811db065?org_if_sml=1509"
      alt="Rectangle291152"
      class="security-rectangle29"
    />
    <span class="security-text18"><span>Correo</span></span>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/84b7ec7d-19ba-4f21-bd02-91cd31c1a5c8?org_if_sml=11789"
      alt="descarga221153"
      class="security-descarga22"
    />
    <span class="security-text20"><span>Modificar / eliminar</span></span>
    <div class="security-group17">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/cde1afbb-0117-4451-af6f-6d5e4a4fb5d3?org_if_sml=11006"
        alt="unsplash3JmfENcL24M1611"
        class="security-unsplash-jmf--nc-l24m1"
      />
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/e67deff2-ab51-4f30-be1a-099938ac2e47/b1111933-fb00-4ff8-a224-401216fd966d?org_if_sml=16096"
      alt="image382761"
      class="security-image38"
    />
  </div>
</div>
